[2018-05-17 13:57] eu-genia commented on #888
In addition to the list, many E-S mss descriptions have among "extras" (not among decoration, since clearly these are not part of the book design) things like `"doodles"` (I guess meaning crude drawings by users).  Should these be left without further encoding or is it worth it to somehow structure the information?

[2018-05-17 14:05] thea-m commented on #888
I think that we encode them as well as "extras" (in additions), at least they are listed in the guidelines in the list inherited from ethiospare (and just only slighly edited by me)
http://betamasaheft.eu/Guidelines/?id=additionsVaria

[2018-05-17 14:06] eu-genia commented on #885
wonderful (I have tried to raise the question several times)
if an independent use of `roleName `is allowed again the data should also eventually be harvested from the TraCES texts (I did tag some offices in Amda Seyon, these are among the NE without `ID`)
what would the consequence for encoding as in #642 ? can the `roleName `be now listed without inserting it into `persName ` in the general pers

[2018-05-17 14:28] thea-m opened #889 "Amharic transliterations to be corrected according to the guidelines"

[2018-05-18 13:16] thea-m opened #890 "source in placeName"
The guidelines:
http://betamasaheft.eu/Guidelines/?id=named-entities-and-authority-lists
say on the encoding of placeNames in literary works:

I tried to find an example of this but found only in LOC3826Hawzen (so, not a literary work...):
` <placeName xml:id="n1" xml:lang="gez" source="#Lusini">ሐውዜን፡</placeName>`
Lusini being the xml:id of a bibliographic entry. Is this what is meant by the guide

[2018-05-18 13:47] thea-m opened #891 "nesting lists"
The guidelines http://betamasaheft.eu/Guidelines/?id=objectDescription
have in the collation section:

I don't understand the nesting part and cannot find an example. Is there one anywhere? Thank you!

[2018-05-18 19:27] PietroLiuzzo commented on #891
There is no example, it must be a residual of something very old. I have removed the sentence.

[2018-05-18 19:27] #891 closed

[2018-05-18 20:13] PietroLiuzzo commented on #890
the use of @source is documented here http://betamasaheft.eu/Guidelines/?q=source&start=6&id=sourceAtt
the use of your example from LOC3826 is documented here
http://betamasaheft.eu/Guidelines/?id=places
it is indeed wrong that we should use there bm: things, I will update the guidelines.

[2018-05-18 20:15] #890 closed

[2018-05-18 21:13] PietroLiuzzo commented on #778
There are now 10 more graphs produces from the selections in every list view of manuscripts.
<img width="986" alt="schermata 2018-05-18 alle 23 11 52" src="https://user-images.githubusercontent.com/508012/40258143-e394e6c0-5af0-11e8-9829-2d691fe27a8c.png">
there is one more graph in the graph view of manuscripts
there is distribution of attested values in persons and places records, with a table o

[2018-05-18 21:13] #778 closed

[2018-05-18 21:26] PietroLiuzzo commented on #864
I don't think it does any harm. those which have been converted from the table have that note until somebody edits them. I agree that the first sentence should be in all files, I will add it.

[2018-05-19 09:41] eu-genia commented on #778
sorry for nitpicking but is it possible to change sawing to sewing?

[2018-05-19 19:51] PietroLiuzzo commented on #778
no, it is my favourite mistake, I will never fix it! ;)

[2018-05-22 13:21] #860 closed

[2018-05-22 16:22] thea-m commented on #885
I'll do it

[2018-05-23 05:28] PietroLiuzzo commented on #885
We expect roleNames without a persName around them only in the transcription or edition of a text. for roleNames without a persName around them, the standard visualization will print a ? superscript which you can click to load a list of all the occurrences of the string in question inside a roleName which DOES have a persName around it (fuzzy search 80% similarity). results are organized by person

[2018-05-23 05:36] PietroLiuzzo commented on #866
the schema has indeed no definitions.
http://betamasaheft.eu/Guidelines/?q=roleName&id=roleName
please add them

[2018-05-23 06:51] PietroLiuzzo commented on #885
for the role names tagged without a persName in the traces annotations, @eu-genia I would please need an example from you, so that I can look the exported TEI fs and try to figure out if it is in there or not and if it is transformable from the current export format

[2018-05-23 07:13] eu-genia commented on #885
I do not know what it looks like in the export you received; in the file I was given to process it looked like this:

[code]

[2018-05-23 08:43] thea-m opened #892 "LIT4299Prayer"
does LIT4299Prayer really refer to the same prayer in BAVet55 and BAVet37? The incipits given in the manuscript records seem different

[2018-05-23 10:00] thea-m opened #893 "more than one @role for a person"
Can a persName have more than one role?
For example, in DSEthiop7 it seems that PRS11959Pawlos, mentioned in the colophon, was both scribe and owner of the manuscript

[code]
is not allowed

[2018-05-23 10:08] PietroLiuzzo commented on #893
There is no other example as far as I can see and I would avoid it if possible, please. The secondary role can be added for example in particDesc/listPerson. This is a good example to add to the guidelines, I would put it here http://betamasaheft.eu/Guidelines/?q=scribe&id=particDescPersons

[2018-05-23 10:10] thea-m commented on #887
I added

to http://betamasaheft.eu/Guidelines/?id=additionsVaria, please reopen the issue if there is more need for discussion

[2018-05-23 10:10] #887 closed

[2018-05-23 10:30] thea-m commented on #868
are the rules for work titles the same as for persons? I don't think that there is actually any confusion regarding manuscripts

[2018-05-23 10:36] PietroLiuzzo commented on #868
In this case we are speaking of the title elements in titleStmt
- title[@type = 'main'][@corresp = '#t1']
- title[@corresp = '#t1'][@xml:lang = 'am']
- title[@corresp = '#t1'][@xml:lang = 'gez']
- title[@corresp = '#t1'][@xml:lang = 'en']
- title[@corresp = '#t1']
- title[1]

[2018-05-23 10:38] PietroLiuzzo commented on #868
manuscripts should not be affected at all by this type of encoding, as the label/title of the manuscript is built looking at the repository and other information in msIdentifier

[2018-05-23 10:42] thea-m commented on #893
Thank you!
that there is no example just means that it was never encoded in this way, which is to be expected, since it leads to an error. It is possible that there are similar cases were the information is given in a paragraphical description.
Anyway, I added the example to the guidelines

[2018-05-23 10:42] #893 closed

[2018-05-23 10:47] thea-m commented on #868
thank you

[2018-05-23 10:47] #868 closed

[2018-05-23 11:05] thea-m opened #894 ""seals" in Vatican mss"
There are still some "seals" encoded in Vatican mss in `<sealDesc>`, presumabely these are stamps and have been left like this after the confusion I caused with #337 ?

[2018-05-23 12:27] thea-m commented on #529
I corrected the records

[2018-05-24 07:31] thea-m commented on #894
thank you!

[2018-05-24 07:31] #894 closed

[2018-05-24 12:40] thea-m opened #895 "ethio-spare list of additions"
The list of addition types inherited from Ethio-Spare seems to need some cleaning up:
http://betamasaheft.eu/Guidelines/?id=desc
Please consider the definitions there, I'm not copying them here :)
Some types of additions are, according to our guidelines, not additions, since they have not been added at a later stage.
This concerns possibly:
- ScribalSignature
- Supplication (already clarified in t

[2018-05-24 19:48] #508 closed

[2018-05-24 19:49] #540 closed

[2018-05-25 07:28] eu-genia commented on #895
ScribalNoteCommissioning I had in ESakm007 but I note that there was also one used, as an addition, in BNFet35 (and there is a ScribalNoteCompleting in BNFet42, BNFet53)

Should all ScribalNotes be moved?

I do not think all supplications can be covered by incipit/explicit, or at least not automatically  - e.g. ESaqg001 has many supplications that are inside the Psalter - they might be at the begi

[2018-05-25 07:57] ElianaDalSasso opened #896 "New record and last commits not displayed"
The app doesn't display the commits I made yesterday: some modifications on GAet2 and GAet1 and the new record GAet3.

[2018-05-25 08:03] PietroLiuzzo commented on #896
I had to turn off the hook to load the 13.000 mss I added yesterday without receiving 26.000 emails. I then forgot to turn it on again, I will now manually update in the app the 8 mss modified since, including yours. thanks for the notification

[2018-05-25 08:03] #896 closed

[2018-05-25 10:36] PietroLiuzzo commented on #882
perhaps better hasLexiconEntry
for @passive, please use entire URL
http://betamasaheft.eu/Dillmann/lemma/L65ae0746b7f9428da90682226ae6cc75

@eu-genia said she will update the guidelines and the schema to close this isse

[2018-05-25 11:38] eu-genia commented on #882
schema and guidelines updated

[2018-05-26 08:05] DenisNosnitsin1970 commented on #895
"ScribalNoteCommissioning" does exist as a marginal note genre, as well as "ScribalNoteCommencing".  "Commissioning" (it exists: look in Ethio-Spare database, "Additional") is the same as "Ordering", the latter can be dropped. "ScribalNoteCompleting" was introduced to refer to a rudimentary "colophon" (like ተፈጸመ᎓ በሰላመ᎓ እግዚአብሔር።); it might be helpful to mark such colophons, though the border is a b

[2018-05-28 06:31] PietroLiuzzo commented on #882
the example file LOC7011Meskwa has still the wrong encoding.
please @eu-genia fix and commit it to close this issue with a proper example, which should also be linked in the guidelines (use `ref[@type='bm']` with the id of the file where the example is in a target).

[2018-05-28 09:30] PietroLiuzzo commented on #865
yes, please @MassimoVilla fix your entries which have that ab[@type='script'].
as for the definitions in the schema and the update with a non fictitious example of the guidelines, it is certainly to be done. there is however no task for me here, and I will unassign my self

[2018-05-28 09:36] MassimoVilla commented on #865
The mss that erroneously had  ab[@type='script'] have been already corrected.

[2018-05-28 09:39] PietroLiuzzo commented on #853
in the graph view for persons there is now a snap graph of relations, a table with all occurrences of the name of the person with also the roleName if available.

[2018-05-28 09:58] #864 closed

[2018-05-28 10:07] #882 closed

[2018-05-28 12:28] PietroLiuzzo commented on #561
There is now a intro.js package loaded and a introText.js text which shows some of the main features of the homepage and from an item view. more can be added. also hints are available if they will be needed.

[2018-05-28 12:28] #561 closed

[2018-05-28 19:57] PietroLiuzzo commented on #859
a new filter has been added in the list view with a warning. this information is now displayed at the bottom of the entry.

[2018-05-29 05:07] PietroLiuzzo commented on #852
fixed due to false paths in tei2fo.xql

[2018-05-29 05:07] #852 closed

[2018-05-29 06:20] PietroLiuzzo commented on #789
lists from indexes without context and without number of occurrences are now in the starting list view. once a filter is applied, the count is added for the context relevant entries in the selectors

[2018-05-29 06:20] #789 closed

[2018-05-29 06:26] #541 closed

[2018-05-29 09:27] thea-m opened #897 "use of period keywords in person records"
Particulary in the case of Zamana Masāfənt, but possibly also for other periods, the terms might not be familiar to users from other fields, but they have been used often descriptions in the persons records. Instead of explaining the term each time, could it make sense to use period keyword to mark up the periods ? For example, to have something as
[code]
(PRS10377Yohanne, keyword added by me)
If

[2018-05-29 09:39] thea-m commented on #859
thank you!

[2018-05-29 09:53] thea-m commented on #865
I would propose for `<seg type="script">` to contain a categorization, as "square script" in the example, Gwelh or similar and for `<desc>` to contain any other or more general description of the script. So in the case of many catalogues, we would in fact only have `<desc>`.
It would maybe be very useful to have your input, @DenisNosnitsin1970

[2018-05-29 10:11] sologebre commented on #897
I think it's a wonderful suggestion. If necessary, we can also specify a specific year of events within the period of Zamana Masāfǝnt.

[2018-05-29 10:58] thea-m opened #898 "visualization of rend="marginal""
`@rend="marginal"` in additions is currently not visualized. Maybe the information could be rendered after the `<locus>`, for example in FSUor10
[code]
as
1. p.48a, marginal
?

[2018-05-29 11:56] thea-m commented on #895
Thank you!

I took the opportunity to go through The "ScribalNote" additions in the BNF manuscripts (encoded a long time ago...), and changed them to either colophon or explicit subscription/supplication, since these elements seem to be more fitting for the descriptions available.

- Supplications: The main issue to keep in mind is that we have repeatedly insisted and stated in the guidelines to b

[2018-05-29 12:07] thea-m opened #899 "empty item in elements list in the guidelines"
In the list of elements in the guidelines, there is an empty item between bibl and bindingDesc, where there probably should be binding?

[2018-05-29 13:36] DenisNosnitsin1970 commented on #895
Sorry, I do not understand one thing: what is the difference between "colophon" and "subscription"? (the rules read: "subscription | note originally added at the end of the main text concerning its completion. not to be confused with later additions").                                                                                                         Agree about supplications, this is also my

[2018-05-29 14:20] thea-m commented on #895
Thank you! It's clearer now to me.
We follow the TEI descriptions for colophon, incipit and explicit:
http://www.tei-c.org/release/doc/tei-p5-doc/en/html/ref-colophon.html
http://www.tei-c.org/release/doc/tei-p5-doc/en/html/ref-incipit.html
http://www.tei-c.org/release/doc/tei-p5-doc/en/html/ref-explicit.html
Of course we could (and have in many cases) specify these definitions for our project,.
S

[2018-05-29 14:48] DenisNosnitsin1970 commented on #895
The "untrue additions" are not varia; they encompass many categories of "true additions" only written in the main hand, whereas "varia" are basically "minor notes" (= non-texts, scribbles). We should better keep "true" and "untrue additional notes" on the same level.
Another problem: frequently it is difficult to recognize the hand of an addition. I was puzzled many times: is it the main hand (and

[2018-05-30 08:51] thea-m opened #900 "definition of values for @type in listBibl"
It would be good if we could add definitions to all values specified in the schema, and specify the existing definitions, especially as to the entity types to which they refer:
http://betamasaheft.eu/Guidelines/?id=listBibl
- mss: seems to be used only in Ethio-Spare records to list other witnesses of a certain work. This suggests that we do not need this type in newly encoded records.
- text: I s

[2018-05-30 09:02] thea-m commented on #895
Thank you!
Regarding the untrue additions: I understand that "untrue additions" (notes written in the main hand) are not Varia. However, I think that it would be good to distinguish them from "true additions". What do you think, @PietroLiuzzo ? Would it be enough to describe the situation in `<desc>` and to add a reference to the main hand in order to do this?
Of course, in many catalogue descript

[2018-05-30 09:05] DenisNosnitsin1970 commented on #895
In Ethio-Spare we did exactly in this way ("Ownership note, written probably/possibly in the main hand").

[2018-05-30 09:16] thea-m commented on #895
As to the colophon issue, obviously no information from Ethio-Spare manuscripts should be lost or information from catalogues and other manuscripts be encoded in an unsatisfactory way. I still think though that "additions" is then the wrong category for encoding these types of "colophon". Maybe those items currently present in the additions typology that were developed in Ethio-Spare to subdivide

[2018-05-30 10:02] PietroLiuzzo commented on #840
![schermata 2018-05-30 alle 12 01 36](https://user-images.githubusercontent.com/508012/40713829-3c81124a-6401-11e8-89ea-eb3ac88dd354.png)
for existing transcriptions it will be possible to call a passage via a dts urn and have the collation visualized from the CollateX results from the server

[2018-05-30 10:35] #899 closed

[2018-05-30 10:37] PietroLiuzzo commented on #898
I can visualize that, but I do not like the proposal, as it is very prone to inconsistencies, as it might be that there is no locus, or a wrong one or more then one, plus the attribute is attached to the entire addition, not just to its placement.

[2018-05-30 10:40] thea-m commented on #898
I am fine with any visualisation, what would you propose?

[2018-05-30 10:43] PietroLiuzzo commented on #898
![schermata 2018-05-30 alle 12 43 37](https://user-images.githubusercontent.com/508012/40715802-18822d6a-6407-11e8-92c5-6705d9d577ba.png)

[2018-05-30 10:43] #898 closed

[2018-05-30 10:46] thea-m commented on #898
thank you!

[2018-05-30 10:49] #897 closed

[2018-05-30 10:51] #873 closed

[2018-05-30 10:56] thea-m commented on #897
oh, thank you!

[2018-05-30 15:29] DenisNosnitsin1970 commented on #865
Reasonable, but i think there are some obstacles for this.
We are not that far as to introduce the proper taxonomy of the scripts. Categorization "square script", "gwelh", "compressed script", etc. is based on S. Uhlig's works and relates to very broad "palaeographic periods", not really to true, well-defined scripts. Thus definition "broad script"  is, according to this system, equivalent to mid-

[2018-05-30 19:46] PietroLiuzzo commented on #816
@thea-m notes that the correction for the definition of omitted was wrong.
now
- [ ] changing the schema with the old definition of omitted
- [ ] updating the guidelines not to duplicate the information but to link to the element page

[2018-05-30 19:54] #816 closed

[2018-05-31 15:21] thea-m opened #901 "double relation"
as noticed by @sologebre , in http://betamasaheft.eu/works/LIT1919Mashaf/analytic the same relation is listed twice, we could not find out why

[2018-05-31 19:16] PietroLiuzzo commented on #901
http://betamasaheft.eu/xpath?xpath=collection%28%27%2Fdb%2Fapps%2FBetMas%2Fdata%27%29%2F%2Ft%3Arelation%5B%40name%3D%22saws%3AisAttributedToAuthor%22%5D%5B%40active%3D%22LIT1919Mashaf%22%5D%5B%40passive%3D%22PRS10626ZaraY%22%5D

you can run this search yourself in both oxygen and in the app as in the link above. if you need guidance on XPATH, just ask.

as you can see in the results, also in LIT19

[2018-06-01 07:10] thea-m commented on #901
thank you!

[2018-06-01 07:10] #901 closed

[2018-06-01 09:10] eu-genia opened #902 "places on the map"
The names of places/institutions on the map (and the text in the popup) seem to be visualized in the old transcription which has long been corrected in the app, e.g.
![image](https://user-images.githubusercontent.com/17987728/40832762-6d7d4e9a-658c-11e8-9927-073f0dbbed81.png)

[2018-06-01 09:18] eu-genia opened #903 "institutions visualization"
The description of the institutions not shown on the app

I cannot see the content of `<date type="foundation">` `<desc type="foundation">` `<ab type="history">` etc.

[2018-06-01 09:33] eu-genia commented on #903
INS0042MR has the following info:

[code]

[2018-06-01 10:36] eu-genia opened #904 "Bodleian mss records"
have been completed (issue created to close the milestone)

[2018-06-01 10:36] #904 closed

[2018-06-01 10:37] eu-genia opened #905 "Bodleian mss records"
(issue created to close the milestone)

[2018-06-01 10:37] #905 closed

[2018-06-01 10:38] eu-genia opened #906 "Frankfurt mss (Goldschmidt)"
issue created in order to complete the milestone

[2018-06-01 10:39] #906 closed

[2018-06-01 10:39] eu-genia opened #907 "BnF Zotenberg mss records"
issue created to complete the milestone

[2018-06-01 10:39] #907 closed

[2018-06-01 12:14] thea-m commented on #854
I have also deleted LIT4325Hymn, which seems to be the same text as well

[2018-06-01 15:07] DenisNosnitsin1970 commented on #895
I think this will be difficult and will require a large-scale rearrangement. Also semanticall "note" (and "record") gives us flexibility and space. Ethio-Spare did not aim at subdividing the colophons, we simply took one of the most clear idea as to what is colophon.  I see that in the guidelines the "subscription" is nearly the same as "colophon". I think that the most convinient and correct woul

[2018-06-01 20:11] PietroLiuzzo commented on #903
as expected... fixing this reopens #818

[2018-06-01 20:12] PietroLiuzzo commented on #818
i.e. please fix the institutions where those empty elements appear.

[2018-06-01 20:16] PietroLiuzzo opened #908 "administrative position box"
For the administrative box it would be good if the word "settlement" is replaced with the `@type` when provided (but in proper spelling of course)

E.g. in INS0042MR

it should say

Country: Ethiopia
Region: Bǝḥerāwi Kǝllǝlāwi Mangǝśti Tǝgrāy
Waradā: Dabra Gannat
Ṭābiyā: Mārtā
Qušat: Gulo Maḵadā

In addition to the map, the coordinates themselves should also be printed.

[2018-06-01 20:16] PietroLiuzzo commented on #908
@eu-genia 2 problems = 2 issues.

[2018-06-01 20:29] PietroLiuzzo commented on #908
the order of this informations has always been in these boxes from small to big political entity, why are we changing it now?
it will look like this and once somebody creates RegionalState, then there will be also a proper title there.
<img width="333" alt="schermata 2018-06-01 alle 22 28 16" src="https://user-images.githubusercontent.com/508012/40861932-295f4fec-65eb-11e8-9cf2-1aae35adef5b.png">

[2018-06-02 18:57] PietroLiuzzo opened #909 "collation visualization for EMIP00001"
@jonahsandford reported that http://betamasaheft.eu/manuscripts/EMIP00001/main, does not produce the quire description for

[code]

[2018-06-04 07:54] thea-m commented on #818
I deleted the empty elements in institutions

[2018-06-04 07:54] #818 closed

[2018-06-05 07:31] eu-genia commented on #908
if small to big, then it should be
Qušat
Ṭābiyā
Waradā
Regional state
Country

but why not reproduce the order in XML?

RegionalState has been created

[2018-06-05 08:21] PietroLiuzzo commented on #908
please simply decide and let me know. it makes no difference to me, I was just wondering because we go back and forth on this small things continuously. the settlements ARE already in the order in which they are in the file.

[code]

[2018-06-05 09:12] thea-m opened #910 "illegible button"
The "Go to..." button which shows up in the compare view if there are no manuscripts containing the work is hardly legible (black script in dark grey beackground) unless one clicks on it, when the writing turns white.
![image](https://user-images.githubusercontent.com/19650382/40966478-e3d280f2-68b0-11e8-89fc-2b52baa3b756.png)
Could the writing be white from the beginning, or the background colour

[2018-06-05 09:15] thea-m commented on #910
same for the "see full text" button in the text view of work records

[2018-06-05 09:19] eu-genia commented on #908
yes but not country - region. in the XML they go from big (country) to small (qushat), in the box the order is mixed

[2018-06-05 09:21] PietroLiuzzo commented on #910
nicht mehr

[2018-06-05 09:21] #910 closed

[2018-06-05 09:35] thea-m commented on #910
danke!

[2018-06-05 09:41] PietroLiuzzo commented on #908
no, but you do want country after region, isn't it? and that is already like that as in the screenshot above. if the settlements are in the wrong order, they simply need to be fixed.

if instead you do not want to fix that in the data but want to revert the order I will invert and have it in order you suggested in the previous post i.e.
country
region
settlments (in the order they appear in the xm

[2018-06-05 09:48] PietroLiuzzo commented on #908
the RegionalState file is there, but the update of the taxonomy is not complete
http://betamasaheft.eu/Guidelines/?id=taxonomy

[2018-06-05 09:51] PietroLiuzzo commented on #908
![schermata 2018-06-05 alle 11 50 41](https://user-images.githubusercontent.com/508012/40968837-c43ac956-68b6-11e8-84b3-92ee09d9660f.png)
for the capitals, please correct the authority files accordingly

[2018-06-05 09:53] eu-genia commented on #908
Looks good.

[2018-06-05 10:34] #908 closed

[2018-06-06 04:22] PietroLiuzzo commented on #909
note needs to be before, otherways the test misses the counting

[2018-06-06 04:22] #909 closed

[2018-06-06 04:24] PietroLiuzzo opened #911 "Image of Mary's assumption"
@jonahsandford has asked me the following question:

_Speaking of EMIP00003, I am having a hard time locating the standard title for the Image of Mary's Assumption (ms_i1.3)_

I have tried this search

http://betamasaheft.eu/as.html?query=%22Image+of+Mary%22&element=title&AttestedInType=1&xmlid=&work-types=work

but I am not sure any of those is the one he is looking for.

Could anyone help?

[2018-06-06 07:42] eu-genia commented on #911
LIT4971MalkeaErgata

[2018-06-06 07:48] PietroLiuzzo commented on #911
thanks!
I tested with another search: out of curiosity, LIT2110OntheA has nothing to do with this, right?

[2018-06-06 07:55] thea-m commented on #911
there is also LIT2932RepCh213

[2018-06-06 07:56] PietroLiuzzo commented on #911
what is the relation between these three records (not to count more that could come out in searches) ?

[2018-06-06 08:05] eu-genia commented on #911
LIT2932RepCh213 is the Image of Mary's Dormition (Dormition is not the same as Assumption)

[2018-06-06 08:06] PietroLiuzzo commented on #911
+ this is not stated anywhere in the data... we need to disambiguate at least

[2018-06-06 08:15] eu-genia commented on #911
LIT2932RepCh213 is most probably the Malkǝʾa fǝlsatā attributed to Zar'a Ya'qob (according to Getatchew Haile)
Should be checked on the incipit which one is the one in EMIP00003

[2018-06-06 08:49] eu-genia opened #912 "Lectionary keyword"
I note that EMIP00003 has the Gospel arranged for the days of the week, this is therefore not a usual Gospel manuscript but a Lectionary. It is probably indeed not an extra Work type but we might need a way to mark/filter scripture mss of such type. Should I add a keyword?

[2018-06-06 08:51] eu-genia commented on #912
To the record I mean, or shall the person working on the record (Jonah) be asked to do so? So far there are no keywords at all I believe.

[2018-06-06 08:56] DenisNosnitsin1970 commented on #912
I what sense is it arranged for the days of the week? It can be a Gospel irrespective of the arrangement (which can be only linear; the motes in the upper margins of the pages referring to lessons do not matter), or a Lectionary irrespective of its arramngement (days of the weeks, feasts. Sabbaths etc.)

[2018-06-06 09:01] eu-genia commented on #912
http://betamasaheft.eu/manuscripts/EMIP00003/main

[2018-06-06 09:20] DenisNosnitsin1970 commented on #912
I see. Description should be organized in a different way. This is a classical Gospel of John written in the usual way; the lessons are indicated through the notes in the upper margin of some folios referring to the days of the week. The notes should be probably recorded in "extras"; some are in the main hand, some in a secondary hand. It is not that the main text is somehow divided into seven par

[2018-06-06 09:22] PietroLiuzzo commented on #912
@jonahsandford

[2018-06-06 09:35] #903 closed

[2018-06-06 09:38] eu-genia commented on #912
@jonahsandford maybe can consider Denis' remark above

[2018-06-06 10:45] PietroLiuzzo commented on #902
institution map updated also live

[2018-06-06 10:45] #902 closed

[2018-06-06 10:47] PietroLiuzzo commented on #804
current DTS specifications are now supported for both manuscripts and works with a div[@type='edition']

[2018-06-06 11:34] DariaElagina opened #913 "Locus in paginated MSS (Accademia dei Lincei 27)"
dear all,
the manuscript of Accademia dei Lincei 27 is paginated. How should I proceed then with encoding of locus?

[2018-06-06 11:42] eu-genia commented on #913
I think if in `<extent>` you specify `<measure unit="page">` the `@locus` should refer to page number (unless already programmed in the app, @PietroLiuzzo can surely add the necessary definitions)

[2018-06-06 11:52] DariaElagina commented on #913
ok, thank you

[2018-06-06 12:04] PietroLiuzzo commented on #913
No, locus is only for locus, not for pages and the values there should be like 1r 1v or 1ra 1rb for example. locus is a core element on which a lot of computing is made, it cannot carry values which are relative to other information. Did anyone have such cases before?

[2018-06-06 12:07] PietroLiuzzo commented on #913
http://betamasaheft.eu/Guidelines/?id=referencing-the-manuscript

[2018-06-06 12:09] PietroLiuzzo commented on #913
@eu-genia where did you find the piece of information about the connection of extent/measure and the values of attributes in locus? Thanks

[2018-06-06 12:13] thea-m commented on #913
yes, many, and we have discussed it previously, though I don't find where now quickly
for example FSUor10
I remember that it was once visualiuzed as p. , but it is not anymore

[2018-06-06 12:15] PietroLiuzzo commented on #913
thanks @thea-m .
here a list of those with measure[@unit='page']
http://bet.mas/xpath?xpath=collection%28%27%2Fdb%2Fapps%2FBetMas%2Fdata%2Fmanuscripts%27%29%2F%2Ft%3Aextent%2F%2Ft%3Ameasure%5B%40unit%3D%27page%27%5D

@eu-genia you are right, pp. is added instead of ff. if extent has unit page

e.g. in FSUor39

however, if you look at these example the inconsistency will become clear.

it says pp.

[2018-06-06 12:18] PietroLiuzzo commented on #913
There is no documentation for this, so one item here is certainly that we need to
- [ ] update guidelines for paginated (not foliated) manuscripts

are in FSUor the values correctly given in folia converting from the catalogue pages or something else is happening?

I would be in favour of doing for example

`<locus from="1r" to="2v">1-4</locus>`, which will produce pp. 1-4 but will not break the c

[2018-06-06 12:18] thea-m commented on #913
http://betamasaheft.eu/xpath?xpath=collection%28%27%2Fdb%2Fapps%2FBetMas%2Fdata%2Fmanuscripts%27%29%2F%2Ft%3Aextent%2F%2Ft%3Ameasure%5B%40unit%3D%27page%27%5D
Most of the manuscripts were edited by me, I will check them in a few days :)

[2018-06-06 12:19] eu-genia commented on #913
our converting from page to folio numbering could produce additional errors though

[2018-06-06 12:20] thea-m commented on #913
In the FSU catalogue, the catalogue gives all indications with page numbers, but the manuscripts are in fact all digitized and foliated. I will have to go through the records one by one to make sure that they are consistent.

[2018-06-06 12:20] PietroLiuzzo commented on #913
it is legitimate (but again, none of this is documented) also NOT to had the locus attributes

<locus>1-4</locus>

[2018-06-06 12:22] PietroLiuzzo commented on #913
why @thea-m ? in the FSU from where do the folia notation in the loci come from?

[2018-06-06 12:27] PietroLiuzzo commented on #913
then you don't need to check them again, isn't it? perhaps only to add back the pages to avoid the inconsistence of having for `<locus from="1ra" to="6vb"/>` something like _pp._1ra-6vb .
if we have `<locus from="1ra" to="6vb">1-12</locus>` we will have the correct computations for locus and the view will print pp. 1-12

[2018-06-06 13:01] eu-genia commented on #913
In FSUor39 the description says extent: 201 pages (and the collation ends at 201) but the text goes to ff. 119v, does not seem plausible

[2018-06-06 13:18] thea-m commented on #913
As I have said already, I have to check these manuscripts again. It is possible that I made mistakes or was not consistent in the use of foliation or pagination. I will do it next week.

[2018-06-06 14:03] thea-m opened #914 "check Legend of Abgar"
what is the difference between both records?
LIT1760Legend
LIT1759Legend
Clavis ID according to Sophia should be 88

[2018-06-06 19:06] PietroLiuzzo commented on #914
@SophiaD-M @thea-m what does it mean that "Clavis ID should be 88" which clavis id? CANT?

[2018-06-06 19:10] PietroLiuzzo commented on #913
please @DariaElagina encode AL27 as now documented in the guidelines, we will then test that everything is fine and use an example from there for the guidelines (so you can try editing that as well)

[2018-06-06 20:20] SophiaD-M commented on #914
The record as it is now lists for "Clavis Bibliography": CANT. Geerard, M. 1992. Clavis apocryphorum Novi Testamenti, Corpus Christianorum (Turnhout: Brepols, 1992) , item 56.

But its the wrong item number, it should be 88.

The other question, the difference of both entries, is beyond my expertise.

[2018-06-07 06:55] PietroLiuzzo opened #915 "encoding of manuscripts of John of Nikiu"
- [x] check and update existing manuscript records containing LIT1239Chroni
- [x] create new records for known manuscripts used in PhD work
- [x] update LIT1239Chroni with abstract, witnesses, bibliography, etc.

[2018-06-12 12:38] thea-m opened #916 "use of mistara"
Where should the information that a misṭāra was used for ruling be encoded? In the guidelines, we mention the encoding of ruling patterns in `<ab type="ruling">` in `<layout>`. I have now added in DSEthiop12:
[code]
(the manuscript contains several `<layout>`s and the ruling information is valid for the entire manuscript - should it be added to each layout? That seems a bit redundant but maybe wou

[2018-06-12 12:41] PietroLiuzzo commented on #916
just one is enough, no locus specification already says that the information pertains to the entirety of the ms.

[2018-06-12 12:41] #916 closed

[2018-06-12 12:50] thea-m commented on #871
I'm also not sure how far this information is understandable for people not familiar with the work done in Ethio-Spare - is this a universally known ruling pattern formula?

[2018-06-12 13:26] DariaElagina opened #917 "Donation Note as a work?"
Dear all,
to encode the content of the manuscript AN-27, I created the following work http://betamasaheft.eu/works/LIT4972Don/main
Thouh a donation note, it seems to circulate independantly and be copied alongside other works.
Please, share your ideas, whther this decision of mine is approporiate?
Many thanks, Daria

[2018-06-12 13:45] DenisNosnitsin1970 commented on #871
This is the scheme invented for the description of the ruling invented by Denis Muzerelle, http://palaeographia.org/muzerelle/index.htm, it is indeed used (belongs to the up-date cataloguing). It would be extremely useful to be able to encode and visualize it.

[2018-06-12 13:48] PietroLiuzzo commented on #871
how would you like to have it visualized?

[2018-06-12 13:49] thea-m commented on #871
Thank you. Maybe this link could be displayed somewhere on the app?

[2018-06-12 13:51] DenisNosnitsin1970 commented on #871
There are some small imperfections in the system of Muzerelle as the formula refers precisely only to the ruling (as it was designed to capture the layout in the first line), but less exactly to the pricking. Or I have to check it again. Visualizing - smth like scheme 1, 2, 3 etc. here
https://www.aai.uni-hamburg.de/en/comst/pdf/bulletin1/pp094-109.pdf

[2018-06-12 13:53] PietroLiuzzo commented on #871
thanks, I will try to understand from this hints how to produce a scheme like the one in your article starting from the string definition given.

this is useful for the item view I believe, but how do we usefully compare this information and chart data coming from it? what are the meaningful variables to be compared if I have a selection of manuscripts?

[2018-06-12 13:57] abausi commented on #871
Since Marilena Maniaci is here in Hamburg at the CSMC as a visiting
scholar until July, it would be wise to ask her too, how this difficult
feature could be encoded at best; I will meet her tomorrow and I can
tell her that we would be interested in having her advice; but two/three
people should be available for this. Who volunteers?

Il 12.06.2018 14:53, Pietro Liuzzo ha scritto:

[2018-06-12 13:59] DenisNosnitsin1970 commented on #871
I can com either.

[2018-06-12 14:01] abausi commented on #871
OK, I will tell her to come to us, Denis you will be the main contact person for this. Tomorrow I will see her for other reasons

[2018-06-12 14:09] DenisNosnitsin1970 commented on #871
Pietro, each element of the scheme refers to an element of the formula, but the schemes in the article contain more elements than the formula does. Probably you can hardly spring directly from the formula  1A-1A/0-0/0-0/A to the scheme since the position of the pricks is not reflected in the formula, neither the position of the upper written line in relation to the upper ruled line. The formula di

[2018-06-12 14:12] abausi commented on #871
Denis, I do not know, I will meet her tomorrow but not in the HLCES; I
had an appointment for other questions, elsewhere. I will fix an
compatible appointment ad hoc, preferably in the morning where more
people wil be there. I will inform you tomorrow.

Il 12.06.2018 15:10, DenisNosnitsin1970 ha scritto:

[2018-06-12 14:17] DenisNosnitsin1970 commented on #917
This is unusual. Did you transcribe the text in the formular of the manuscript? I am not sure if we can say that this was a text circulating independently. Donation notes used a lot of formulaic language, and the wording may be pretty similar (ze-mäshaf sä-wähabo lä-... negusenä ....). If you see two manuscripts with donation notes formulated in a very similar way, there can be other explanations

[2018-06-12 14:27] abausi commented on #917
If it can stay alone, independently from the work that follows or precedes, it is an autonomous text, but it is true that such text can be formulaic; it would help to have it transcribed and probably it would be good, to understand better, to give it entirely in the manuscript description

[2018-06-12 14:38] DariaElagina commented on #917
unfortunately, i do not have the images of this part of the manuscript and have to rely on the description by Stelcyn only. So, it is hardly possible to check whether it is transmitted independently.

[2018-06-12 15:00] DariaElagina commented on #917
Thanks to the input of Denis, the text schould rather be classified as an inventory list.

[2018-06-12 15:08] DenisNosnitsin1970 commented on #917
"Inventory of..."

[2018-06-12 15:44] DariaElagina commented on #917
But actually the question remains open, would this text be an indepent work or not? all inventories I could find so far, are rather described as additiones, or just have no reference as here http://betamasaheft.eu/manuscripts/EMML2745/main
In my case, although I cannot prove it, the text of this inventory was rather copied at the same time with the whole manuscript, as this manuscript was apparent

[2018-06-12 15:53] abausi commented on #917
But it remains an additional text (it would be "paracontent" in the SFB
definition, we will have to discuss all this mnroe precisely once): the
fact that it is copied, does not make it a "work".

Il 12.06.2018 16:44, Daria Elagina ha scritto:

[2018-06-12 16:08] DariaElagina commented on #917
That is exactly the point.

[2018-06-12 16:58] DenisNosnitsin1970 commented on #917
I think it is important to understand how this compendium was concieved and copied by its creator/owner, and which status was assigned to each of the parts. If I understand correctly, this ms is not a product of the Ethiopian tradition (i have in front of my eyes Conti Rossini 125), but a kind of "colonial manuscript"; maybe, the point should be discussed on examples of purely traditional Ethiopic

[2018-06-13 07:35] eu-genia commented on #917
BLorient481 is a good example. I did treat them all as additions, even if they are copied. Sometimes we do have additions which are also independently circulating texts (genealogies, king lists etc.) but these are then still usually encoded as additions with an additional `@ref`.

This once again evidences the problem discussed in this other issue #895 - the current definition of addition as only

[2018-06-13 07:42] eu-genia opened #918 "Guidelines on file names"
The issue #917 made me wonder - is it specified somewhere how files should be named? The IDs for places persons and works are generated in the app, but not for manuscripts, so our rule (LIBRARYcollectionNumber) may not be obvious to new users. Or am I missing something?

[2018-06-13 07:44] thea-m commented on #918
http://betamasaheft.eu/Guidelines/?q=ID&start=6&id=entities-id-structure

[2018-06-13 07:45] eu-genia commented on #833
I would say that ANLcr27 is also a Notebook, it surely is NOT a codex, as most colonial mss. @DariaElagina

[2018-06-13 07:46] eu-genia commented on #918
thanks, sorry, missed it
but so did @DariaElagina

[2018-06-13 07:46] #918 closed

[2018-06-13 08:12] PietroLiuzzo commented on #917
http://betamasaheft.eu/Guidelines/?id=entities-id-structure

[2018-06-13 08:36] DenisNosnitsin1970 commented on #917
I think we should distinguish levels in such texts. There is a codicological criteria for additions and criteria related to the content. This is one thing. If an addition is copied into a continuous text, it changes its status from the codicological point of view. Finally definitions of the additions ("donation note", "ownership note" etc.) are made on formal criteria (specific wording and focus)

[2018-06-13 09:10] eu-genia commented on #917
The problem is that the guidelines exclude the items which are additions in content but not in form from being able to be encoded as additions.
I would vote for classifying them as additions even without codicological criteria, as already discussed in #895.

[2018-06-13 09:18] PietroLiuzzo commented on #918
no,  @DariaElagina  did not, I misled her because I wanted to show her how to create a new entry! I will add this link to the form

[2018-06-13 12:07] thea-m commented on #917
I would be careful to treat this item as an addition, especially in view of the compilatory character of the entire manuscript. I do not know this particular manuscript and am not an expert on the works contained in it. However, it is my impression (after reading https://www.academia.edu/3022230/Le_Liber_Aksumae_selon_le_manuscrit_Bodleian_Bruce_93_le_plus_ancien_t%C3%A9moin_dun_projet_historiogra

[2018-06-14 17:33] jonahsandford opened #919 "Quire diagrams"
I am wondering if there is a way I can alter the labeling in my quire diagrams so as to distinguish protection quires from quires proper. To use EMIP 6 as an example (http://betamasaheft.eu/manuscripts/EMIP00006/main), Protection Sheet is appearing as "Quire 1" in the collation diagrams but should ideally appear as "Protection Quire" or "Quire 0" or something to that effect.

[2018-06-14 18:58] PietroLiuzzo commented on #919
see this ES example updated by @eu-genia
http://betamasaheft.eu/manuscripts/ESagm004/main
If I am not wrong the quire named A are the protection sheets and are distinguished from the others only by that name.

please let me know if you agree to have a different way of viewing that information.

[2018-06-15 07:10] eu-genia commented on #919
it would be good, yes

[2018-06-15 12:03] eu-genia commented on #919
If names of quires can be kept as they were assigned (e.g. in the Ethio-SPaRe) that could be the best, as I believe they sometimes also have quire B for the end protective quire and things like that.

[2018-06-15 12:04] eu-genia commented on #919
Quire 0 is not a solution as there can be more.
See e.g. http://betamasaheft.eu/manuscripts/ESagm001/main - Quires A and B are protective leaves

[2018-06-15 12:11] PietroLiuzzo commented on #919
So you just want to change the label.

[code]
where should I take the information? especially if A is not there and needs to be entered as in the EMIP case above? What about adding a `@type='protectionSheets'` to `<item>`? you would need to change this IN ALL existing collations.

[2018-06-15 12:38] eu-genia commented on #919
i remember we talked about it at the very beginning two years ago when I noted the problem arising with the E-S descriptions that refer to quire numbers that do not correspond to the automatically assigned numbers in the collation diagram. so solving it whichever way is very good.

assigning a `@type` sounds makeable to me, maybe just `@type='protective'` or `@type='protective'`
I could batch sear

[2018-06-15 19:22] PietroLiuzzo commented on #919
@eu-genia what did you have in mind to safely batch search the quires "labelled" A or B ? I feel any text search would be either returning too many results or too many incorrect ones potentially. Perhaps it is better if I do that and then you can spot check if I have missed some cases. I will add the type where the quire description have A and B, after checking if this has been followed also in ot

[2018-06-15 19:23] PietroLiuzzo commented on #919
is there an isse about the initial conversation? would be interesting to pick it up from where it was left

[2018-06-15 20:59] PietroLiuzzo commented on #917
Let me add my two cents and try to summarise.

I agree with @DenisNosnitsin1970 on the change of status, I think it is a key observation for this conversation. Let me try to rephrase all (just in case this can then be used in the guidelines)

- The first thing to do is deciding if is addition or content, and perhaps we could update our definitions following the criteria identified by Andrist in th

[2018-06-15 21:27] PietroLiuzzo commented on #895
I think here there is already agreement and a lot to do

- [ ] @DenisNosnitsin1970 will provide one concrete example for each addition type, to be documented in the schema (so that it ends up also in the guidelines) optimal would be the id and anchor of the manuscript in BM
- [ ] we need a section in the guidelines helping to distinguish between additions and contents, as discussed in #917 I propo

[2018-06-15 21:41] PietroLiuzzo commented on #895
potentially making the above distinctions and allowing for more precise and diversified encoding of these notes not forced to one or the other method would also allow better evaluation of course, because we would know which one are part of the main text and which are not.

[2018-06-16 10:03] abausi commented on #917
Dear Pietro, many thanks, this helps much. To make things even more
simple, as I also wrote in my contribution, the essential point is that
an "addition" is a neutral term to indicate that someting is "later
added" or secondary from the view point of the cataloguer: it should
NEVER be used to mark a content, that presupposes another perspective.
To use "additiones" to refer to a certain content is

[2018-06-16 13:18] PietroLiuzzo commented on #917
Dear @abausi I think we are getting there. These texts when they are contents will get ids and we will be able to group them and get a repertory by using the keywords.
The documents corpora page (http://betamasaheft.eu/Guidelines/?id=corpora) is, following this discussion, wrong, and needs to be updated (it should not say that "Documents will be encoded as additions " but rather point to the updat

[2018-06-16 13:34] abausi commented on #917
There is no way to say this without looking into each manuscript and
deciding case by case. This is definitely a task of the philologists.

Il 16.06.2018 14:27, Pietro Liuzzo ha scritto:

[2018-06-16 13:43] PietroLiuzzo commented on #917
I am happy not to do this, although I would be glad to follow up for the encoding and data structure. Is there any relation between BNFabb152, BLorient418, BDLbruce93 and ANL27 ? Do we have the Dabra Libanos Golden Gospel? I feel we could shortly focus on these and encode them to have a fully and rightly encoded working set of data to also use in the guidelines for future reference

[2018-06-16 13:46] abausi commented on #917
We have everything, Golden Gospel of Dabra Libanos included. We have
only to see how to prioritize this work and organize the workflow. It
will be an important step. We should add a couple of MSS more, like EMML
1832. We will discuss this.

Il 16.06.2018 14:43, Pietro Liuzzo ha scritto:

[2018-06-16 13:52] PietroLiuzzo commented on #917
I have searched via the Golden Gospel keyword (http://betamasaheft.eu/authority-files/list?keyword=GoldenGospel) and via dabra libanos as institution (http://betamasaheft.eu/manuscripts/INS0341DL/list) as well via the bibliographic reference to Conti Rossini article (http://betamasaheft.eu/bibliography?pointer=bm%3AContiRossini1901Evangelodoro&collection=all) but I do not seem to be able to find i

[2018-06-16 13:54] abausi commented on #917
It is not in BM: we have in the sense that we have the data. It is
everything to be inserted. But here the point is to have the pictures of
the MS. And those we have.

Il 16.06.2018 14:52, Pietro Liuzzo ha scritto:

[2018-06-16 19:06] PietroLiuzzo commented on #825
Also EMIP 21 quire 3 has an edge case with 5 added leaves.

[2018-06-17 18:59] eu-genia commented on #919
i did not mean automatic batch correcting, i meant rather manual work through E-S mss after a search in all the E-S files: while looking for A quires works quite easily (>A), the B is usually preceded by a space in the transformed XML (> B), but I can go through them all and assign the type, if that is the final decision.

i do not think the question made it to an issue back then

[2018-06-18 05:13] PietroLiuzzo commented on #919
don't worry @eu-genia I will do this as commented above. You will possibly then get a list to check. There are also Non ES manuscript which have this.

[2018-06-18 05:45] PietroLiuzzo commented on #919
I had another idea. What about printing under the quire diagram title the description as provided? that would surface the description also there exactly as it is given.
<img width="386" alt="schermata 2018-06-18 alle 07 39 07" src="https://user-images.githubusercontent.com/508012/41519836-cf397e88-72ca-11e8-8931-804b5b93cdfe.png">
<img width="188" alt="schermata 2018-06-18 alle 07 41 04" src="http

[2018-06-18 06:05] PietroLiuzzo commented on #843
I think, rereading the first post that it is indeed fine with a type and a desc. It would feel a bit over documented to specify how the image was added to the mss at this point. In the description, glued could be made into a keyword and added following the usual workflow to a relevant list in the taxonomy

[2018-06-18 06:21] PietroLiuzzo commented on #804
two new list views provide a ready list of UniProd and UniCirc. however their visualization should be changed to be useful.

[2018-06-18 09:02] PietroLiuzzo commented on #917
@DenisNosnitsin1970 could make a list of the types of additions what need to be given an ID
We will give an id to addition texts

[2018-06-18 09:08] PietroLiuzzo commented on #917
I will update the guidelines with a summary of the discussion above
@DariaElagina @eu-genia @thea-m will go through the manuscripts they have worked on (@thea-m will also do those of @MassimoVilla) and add ids and create records.
I will also update the schema and the functions to take titles from items in additions
A new document list should be create taking this works
taxonomy is to be edited to

[2018-06-18 09:57] PietroLiuzzo opened #920 "locus for protective sheets"
locus for protective sheets are given with i, ii, iii, iv, etc. in many cases, see EMIP 1.

This are not taken into account anywhere in scripts dealing with locus. They need to.

[2018-06-18 12:14] PietroLiuzzo commented on #919
discussed during meeting:
the quire diagram title is the source of the confusion, it has been removed and is replaced by whatever content the item description has.
i.e. please @jonahsandford simply use text for protection sheets (not <note>) and that is what you will see in the quire diagrams

[2018-06-18 12:14] #919 closed

[2018-06-18 12:17] PietroLiuzzo commented on #917
https://github.com/BetaMasaheft/guidelines/pull/3

[2018-06-18 19:52] PietroLiuzzo commented on #920
from  @jonahsandford
​2) When encoding protection sheets, you'll notice that I define the locus using Roman numerals, but these numerals aren't appearing in the visualization of the quires. Rather, it is beginning the foliation with the numeral 1 instead of i. The problem here is that if the first quire is a protection quire, it is not until we arrive at the first "proper" quire that numbering sho

[2018-06-19 12:06] thea-m opened #921 "types for colophons in ES MSS"
types for colophons (which are not yet specified in the guidelines) have already been used for some Ethio-Spare manuscripts (ESsmm003, ESakm006, ESakm012), when #895 has been solved and we have met to discuss some examples, they should be updated if necessary

[2018-06-22 03:11] PietroLiuzzo commented on #921
see email with document

[2018-06-22 08:32] PietroLiuzzo commented on #871
I have prepare a few chart visualisations based on the parsing of available ruling formulas.

the pie chart takes the complete formula and groups the value, this gives immediately an idea of the diversity of patterns.

The column charts instead take each one of the Zones in the formula.

The columns show the total of the manuscripts for one of the standard periods defined in all charts which have

[2018-06-22 09:45] PietroLiuzzo commented on #871
We will add the possibility to add the syntetic information about the type of pattern defined in Denis's article. it will be a non compulsary subtype attribute to one of the ab in the layout element. @DenisNosnitsin1970 will provide short definitions and examples, which will will add to the guidelines (http://betamasaheft.eu/Guidelines/?q=ruling&id=objectDescription).

[2018-06-22 11:05] PietroLiuzzo commented on #871
I added to the guidelines the link to Muzerelle presentation

[2018-06-22 11:31] eu-genia opened #922 "visualization"
In PRS1585AkalaWa for some reason the person names in `persname `are not visualized.

[code]

![image](https://user-images.githubusercontent.com/17987728/41774579-9c456a42-7620-11e8-90c9-641bc1ac7db7.png)

[2018-06-22 12:10] #922 closed

[2018-06-22 13:59] thea-m commented on #843
@DenisNosnitsin1970 also agrees to encode these images as type "printedImage" in decorations. The type printedImage (A printed image, usually of devotional character, glued to a manuscript) will be added to the schema

[2018-06-25 08:08] #843 closed

[2018-06-27 09:33] thea-m opened #923 "Protective ("magic") texts as additions"
Split from #895

From @DenisNosnitsin1970 's e-mail, the difference between the addition types "MagicText" and "ProtectivePrayer" was clarified: "ProtectivePrayer" is the preferable term, "magic" was dropped at a later stage of Ethio-Spare. We should therefore delete the type MagicText and replace it by ProtectivePrayer wherever it has been used (I can do that).
I will also add an addition type "R

[2018-06-27 09:54] thea-m opened #924 "TransactionNote and RecordTransaction"
split from #895

From @DenisNosnitsin1970 's e-mail it was clarfied that both terms are used for the same type of additions, "RecordTransaction" being the more recent term. I will update the schema definition to the one given by @DenisNosnitsin1970 (text documenting an act of selling or buying something, in many cases house and land, or sometimes a book), delete TransactionNote and replace all Tra

[2018-06-27 10:09] eu-genia opened #925 "TraCES texts and metadata on BM"
1) When TraCES texts are exported in TEI they should be published on BM but in some cases they cannot replace the already available texts. For example, in TraCES only parts of the Kǝbra nagaśt (LIT1709Kebran) have been checked and annotated and are to be exported; the text currently reproduced cannot therefore be replaced completely, both versions should be kept.
Which is the best way to organize

[2018-06-27 10:12] eu-genia opened #926 "BM API for NE in TraCES"
is it possible to modify the API ([http://betamasaheft.eu/api/search?homophones=false&element=persName&collection=persons&q='ezana]) for @cvertan in a way that it only looks for matches in the persName element in the main set of names and not in any persName element in the record? (same for placeName etc)

[2018-06-27 10:13] PietroLiuzzo commented on #926
please describe better what you are expecting.

[2018-06-27 10:16] PietroLiuzzo commented on #926
with the above query you get two results
`{
  "items" : [ {
    "title" : "Ezana Zäwde",
    "id" : "PRS3939EzanaZa",
    "result" : "Ezana Zäwde"
  }, {
    "title" : "ʿEzānā",
    "id" : "PRS3938Ezana",
    "result" : "ʿEzānā"
  } ],
  "total" : 2
}`

and in both cases the hit comes from the persName child of person (which I believe to be what you mean by "main set of names")

[2018-06-27 10:36] DariaElagina opened #927 "Texts written in two hands"
Dear all,
I have a question: how do we want to treat texts written in two different hands?  In IVorlov20, I have two cases, where according to Turaev's description, some text was presumably added later in another hand. The first one is the list of abbots of Dabra Libanos. Four last names are added in another hand. The second case is the "chronology in cycles" (Turaev) from Adam till Iyasu I. "The

[2018-06-27 10:47] PietroLiuzzo commented on #927
there is a recent issue which is related to this #887
please also see the guidelines, which should have enough for the task of associating any portion of your encoding to the correct hand.
http://betamasaheft.eu/Guidelines/?q=hand&id=handDescription
http://betamasaheft.eu/Guidelines/?id=additionsVaria

[2018-06-27 10:48] eu-genia commented on #926
the search for "yaʿqob" http://betamasaheft.eu/api/search?homophones=false&element=persName&collection=persons&q=ya%CA%BFqob
produces 82 results, most of which do not have "yaʿqob" as the name of the person as such.

E.g. PRS1417Adhani was appointed by a yaʿqob; PRS2536BatraGe may have been a son of zar'a ya'qob, etc.

I think the children of children of person should be excluded, this way the `<f

[2018-06-27 10:49] PietroLiuzzo commented on #926
This is a better example. of course the behaviour is not generalizable. I will provide a specific request pattern to search only the persName child of person

[2018-06-27 10:54] eu-genia commented on #927
the question here is not exactly the `<handNote>` question (which is clear) but rather - if according to the cataloguer there is a single `<msItem>` with a continuous text (as the new hand continues the text begun by someone else) - how do we show that it is a new layer (addition) while still preserving both the information that the resulting new extended text is also one whole (and may have also

[2018-06-27 10:58] DariaElagina commented on #927
Yes, thank you, @eu-genia. Well, Turaev actually states that these portions were added. But he does not list them as additions, as zou rightly pointed to. So, it is also the question of interpretation of the information he gives.

[2018-06-27 11:01] thea-m commented on #927
If the text were available, it would be possible to mark up the different hands in the transcription. In these cases, however, this is not possible. I would add a note to the msItem explaining the situation and possible an "extra" referring to the msItem as well. If upon assessing the manuscript, you discover that they are indeed additions, the record can be updated.
These texts do not fit the cri

[2018-06-27 11:11] eu-genia commented on #927
Rediscussing with Pietro: the text remains as per Turaiev a single `<msItem>` where hand shift should be commented upon, with a `@corresp` to a relevant hand ID. The added names are not an independent text and modify the existing one and thus do not qualify as addition.
If we want to properly then describe the history of the MS and produce a graph in the Syntax du codex sense, a set of relations c

[2018-06-27 11:16] PietroLiuzzo commented on #927
Since this part is not yet documented, as I am waiting for some more feedback from TEI community, I volunteer to encode this second part in the mss in question after the encoding of the description has been done.

[2018-06-27 11:32] DariaElagina commented on #923
I think that Gidena discussed the problematic of the word 'magic' in his dissertation. I could consult it for his proposed solutions.

[2018-06-27 11:59] PietroLiuzzo commented on #926
you can now add the parameter descendant. default is true and gives the above result, set on false, it will return 39 results which come only from direct children of person/place in the relative collections.

http://betamasaheft.eu/api/search?homophones=false&element=persName&collection=persons&q=ya%CA%BFqob&descendants=false

[2018-06-27 12:18] PietroLiuzzo commented on #925
3 points are three issues!! please split them up.

What is not displayed where?
please check the views. http://betamasaheft.eu/works/LIT1709Kebran/text the encodingDesc is in the right column.

publicationStmt is not there because in principle it applies to the XML only, not to the HTML, to which the copyright printed on each page should apply. having two statements on each page would at least mak

[2018-06-27 12:29] thea-m opened #928 "double entries with bm tags in zotero"
How are we to deal with cases of doublets in zotero, when both entries contain a bm tag? I don't know how to check which tags have been used in Dillmann, so I wouldn't want to delete one of them, but keeping both could also lead to confusion.
The only case I encountered is  bm:Cerulli1960ScrittiII and bm:Cerulli1960Scritti, as well as bm:Cerulli1958Opuscoli and bm:Cerulli1958Scritti.
I saw that th

[2018-06-27 12:33] thea-m commented on #923
@DariaElagina Thank you! Please let us know here.

[2018-06-27 13:19] DariaElagina commented on #923
Gidena replaces the term 'magic' with 'abǝnnät'. (Actually, not all 'magic' texts are protective in function.) I am not sure whether this would be the best solution, but some texts containing the word magic in the description are apparently those to which Gidena refers as abǝnnät.
 I quote here some excerpts from his thesis:
"Replacing the term ‘magic’ with abǝnnät is not simply based on hints we

[2018-06-27 18:50] eu-genia commented on #925
I have checked the header guidelines but probably do not understand something...
Under LIT1709Kebran we shall have 2 text versions. Where and how can I disambiguate that RHC is responsible for having encoded one, and SH the other, if both are part of the same record? Now it seems as if both edited the record together, which is not correct, there is the record editor and two encoders, each of a sep

[2018-06-27 18:57] eu-genia commented on #923
I am not sure the term Gidena proposes is acceptable; this is something he more or less invented, but we should also take care of being easily understood. While "magic" is indeed something that is considered politically incorrect (even if widely used), there are other more neutral terms like e.g. "apotropaic".

[2018-06-28 05:04] PietroLiuzzo commented on #928
There is a solution: fixing it!
both double records and records with double tags are erroneous and do not follow guidelines. They need to be fixed.

[2018-06-28 05:13] PietroLiuzzo commented on #928
you can use the bibliography search of BM to find out which one is used http://betamasaheft.eu/bibliography?pointer=bm%3ACerulli1960ScrittiII&collection=all
I have killed the record bm:Cerulli1958Scritti not used in BM and double of the above. I have done the other check for the other couple and binned bm:Cerulli1958Scritti
using two tags is possible, but is a fruit of data entry phantasy which we

[2018-06-28 05:36] FrancescaPanini commented on #928
But please be careful about something: sometimes two records seem the same
but they are not as for instance the publisher is different. In that case
they are not double records and should not be removed.

On Thu, 28 Jun 2018, 07:13 Pietro Liuzzo, <notifications@github.com> wrote:

[2018-06-28 06:22] thea-m commented on #928
Thank you! I would love to fix and delete them ;) But currently deleting tags is also against the guidelines, so I wanted to be sure.
Does the bibliography search in BM also show the tags used in Dillmann? That was my main concern, searching and replacing in BM I can do easily.

[2018-06-28 07:35] PietroLiuzzo commented on #928
It is now possible to run this search also on Dillmann

[2018-06-28 07:44] PietroLiuzzo commented on #928
I have also updated the guidelines

[2018-06-28 07:44] #928 closed

[2018-06-28 09:14] DenisNosnitsin1970 commented on #923
Abǝnnät is the Amharic term primarily used for "recipe", in that context, or also "example",  "guidelines" for magic rituals. It was never clear for me why he decided to apply this term to all "magic texts". But it there would have been such a justification, "abǝnnät-prayer", "abǝnnät-text" are very problematic as they are completly non-transparent. This is a complex term in itself; in addition to

[2018-06-28 09:58] MargaretheJenner commented on #770
@eu-genia are http://betamasaheft.eu/manuscripts/INS0341DL/list and this http://betamasaheft.eu/manuscripts/INS0346DL/list the same? can the two records be merged and references to the id which will be deleted be updated?

[2018-06-28 10:13] PietroLiuzzo commented on #770
given that the double BNF is due to the IslHornAfr data still waiting to be updated there seem to be no more duplicates in the list. @eu-genia please check and close if satisfactory.

[2018-06-28 10:14] #746 closed

[2018-06-28 11:59] thea-m commented on #928
thank you!

[2018-06-28 11:59] eu-genia commented on #923
The widest used English language term for all related traditions (and we want to be understood also by those who do e g Syriac or Coptic studies) is still "magical (not magic) texts". That's the keyword users shall most frequently be looking for. So if we replace it with anything possibly a mapping should be added to the taxonomy and the search for magic be still made possible, even if the keyword

[2018-06-28 12:00] eu-genia commented on #770
http://betamasaheft.eu/manuscripts/INS0341DL/list and http://betamasaheft.eu/manuscripts/INS0346DL/list are clearly not the same, the first is in Ethiopia, the second in Eritrea

[2018-06-28 12:01] PietroLiuzzo commented on #770
good! then we have one less double!

[2018-06-28 12:19] eu-genia commented on #770
Biblioteca Accademia Nazionale dei Lincei
Biblioteca dell'Accademia Nazionale dei Lincei
is double

Addis Ababa University Institute of Ethiopian Studies
Addis Ababa University Ya'itopya tenatena...
IES - Institute of Ethiopian Studies
are triple (probably the last one from IHA? still too many)

can the value "test" be removed?

[2018-06-28 12:30] PietroLiuzzo commented on #770
@MargaretheJenner

[2018-06-28 12:31] thea-m commented on #770
one of the Accademia dei Lincei records (INS0009IHA) is from IHA, so is one of the IES records (INS0002IHA). There is nothing @MargaretheJenner could do about those

[2018-06-28 12:33] PietroLiuzzo commented on #770
Yes, we know about those, until the new export comes there is nothing to be done (i.e. any change would be vane) the third IES is then the only one to fix?

[2018-06-29 07:07] PietroLiuzzo commented on #923
to change the label of a keyword, WITHOUT changing the value in the taxonomy, schema and data, it is enough to change the title of the Authority file

[2018-06-29 07:16] thea-m commented on #923
@eu-genia , I agree that user friendliness is very important, but I nevertheless don't think that we should overeagerly use problematic terms (that are controversial for a reason). If someone scrolls through the list looking for "magic" and doesn't find it, they will probably get the idea to click on protective/apotropaic?

[2018-06-29 07:39] #924 closed

[2018-07-02 04:49] PietroLiuzzo opened #929 "acknowledgements and attribution"
@eu-genia asked to
- [x] change edited by in the item views to nothing
- [x] add to editors the value of `editor/@role`
- [x] **_remove_** `<encodingStmt>` from right box in /text view
- [x] print `<availability>` in Attribution of Contents Box
- [x] leave only `<abstract>` in General Description
- [x] add a section with title Publication Statement to the /main view containing `publicatoinStmt` an

[2018-07-02 09:46] thea-m commented on #889
I corrected the existing transliterations (those that were marked up as Amharic, that is), but this is something we have to pay constant attention to @DariaElagina @eu-genia @DenisNosnitsin1970 @sologebre

[2018-07-02 09:46] #889 closed

[2018-07-02 10:22] thea-m commented on #911
I see that LIT2932RepCh213 has been used in EMIP00003 - it is now unclear to me to which work LIT4971MalkeaErgata refers. Is there in fact a reference anywhere to this concrete work, or does it now serve as a "general record" not yet used for any Malkǝʾa ʿƎrgatā different from LIT2932RepCh213 (in which case it could probably be deleted)?

[2018-07-02 10:30] thea-m commented on #923
The consensus seems to be not to use ʾabənnat.
I would be in favour of the terms ProtectivePrayer, ProtectiveText and Recipe, adding a definition to the records which clarifies that our use of these terms includes also strictly speaking non-protective texts (but I also understand the arguments in favour of "Magic(al)").
@abausi

[2018-07-02 10:55] thea-m commented on #866
I would propose as a starting point for definitions:

function: not clear to me
title: title used when adressing a person, particularly of an office holder (e.g. ʾabbā, wayzaro, daǧǧāzmačč), to be used only within a persName, since names of offices and office holders can overlap
office: name of an office within an institution (e.g. Metropolitan, daǧǧāzmāčč, ), to be used only when not accompanied

[2018-07-02 10:58] eu-genia commented on #911
I think I should re-delete it if it was LIT2932RepCh213 after all. Thank you.

[2018-07-02 11:58] PietroLiuzzo opened #930 "add filter by country and settlement in institution list view"
menestrel allows to drill down the list by country and then by town. we should be able to provide also this grouping, as the data is there.

[2018-07-02 14:34] thea-m commented on #911
Thank you! Now the situation seems clearer.
@jonahsandford , please reopen the issue if any questions or uncertainties remain, and thanks for bringing this up

[2018-07-02 14:34] #911 closed

[2018-07-02 14:57] abausi commented on #923
Se shall discuss this. We see advantages and disadvantages. Not always
and not necessarily must we conform to current definitions (see for
example the discussion on colophons, and titles). "Texts of ritual
power" was recently proposed; "abǝnnat" has also its reasons.

Il 02.07.2018 11:30, thea-m ha scritto:

[2018-07-02 15:10] PietroLiuzzo commented on #548
these must be two different things... an excerpt is an excerpt, the second example I am not sure what you mean... actually you could have also a @cRef with the proper urn .

`<title>Excerpt from <ref type="work" corresp="LIT1558Matthew" cRef="urn:dts:betmas:LIT1558Matthew:17.1-5"/> 17:1-5</title>`

[2018-07-02 15:11] thea-m commented on #892
I have added a remark to the work record

[2018-07-02 15:11] #892 closed

[2018-07-02 15:20] PietroLiuzzo commented on #697
so, you actually do want now to enter it in different ways but you do not want to display one or the other. Question is: why? does it disturb so much to have both 51 and LI? this needs to be encoded as alternative identifiers `altIdentifier/idno`.

[2018-07-02 15:21] thea-m commented on #548
In my understanding both examples mean the same: a part ("excerpt") of a biblical book, without any further information on the context. They have just been encoded differently. It might not always be clear from the catalogues whether they were intended as an excerpt coherent in itself (and therefore actually complete, despite not containing an entire work) or were intended to contain the entire wo

[2018-07-02 15:24] thea-m commented on #697
I wouldn't find it dramatic to have both displayed, especially if it reduces the amount of unsuccessful searches for manuscripts. I'll add this to the guidelines and change the concerned records

[2018-07-02 15:57] abausi commented on #548
I think that an "excerpt" is a not a "part" as an ordinary division, but
a (more or less arbitrary and more or lress intentional) "portion"

Il 02.07.2018 16:21, thea-m ha scritto:

[2018-07-03 09:45] eu-genia opened #931 "relation + visualization for succession"
We never used anything to mark the succession for kings / rulers / abbots etc.

It might be helpful though, also for the visualization to be able to move to the one before/after, similar to the Wikipedia style (e.g. for https://en.wikipedia.org/wiki/Amda_Seyon_I you see immediately the Predecessor and Successor and you can go left-right under the record): the succession is also by far not always f

[2018-07-03 09:47] PietroLiuzzo commented on #931
it is feaseble if you add that information.
in wikipedia those are not automatically somehow generated, they are added by the user to the bio template

| predecessor        = [[Wedem Arad]]
| successor          = [[Newaya Krestos]]

[2018-07-03 09:49] thea-m commented on #931
I had actually also already thought about this (too much time spent on wikipedia...), and I think that it could be useful (though, if care is taken to always mention the predecessor and successor in the text, not absolutely necessary).
Would this translate into new relations for us to add to the records?

[2018-07-03 09:50] PietroLiuzzo commented on #931
yes. it would be extra info to be added.

[2018-07-03 10:01] eu-genia commented on #931
I understand that it has to be added, I just wanted to hear if everyone thinks it would be nice to have it - we then need two new relation types, unless there are fitting ones somewhere.
Especially for abbots and local rulers it would be an important added value (royal succession is present on wiki, but others are quite obscure, and we do find someone information, even in colophons and such)

[2018-07-03 10:30] DariaElagina commented on #927
The description is ready http://betamasaheft.eu/manuscripts/IVorlov20/main
Secondary hands appear in p1_i11 and p1_i14. The whole information is given in note by now.

[2018-07-03 10:42] DariaElagina commented on #931
It would be definitely a useful upgrade.

[2018-07-03 10:53] PietroLiuzzo commented on #931
There is nothing for me to develop here, so I do not see the need to assign me. please carefully check the SNAP ontology for proper relations and document the choices made.

[2018-07-03 11:00] thea-m commented on #931
I could add bm:isSuccessorOf and bm:isPredecessorOf to our relations, except if such a relation already exists in an ontology you would propose we use @PietroLiuzzo ? (I did not find anything in snap)

[2018-07-03 11:00] thea-m commented on #931
ah sorry, I didn't see your previous comment

[2018-07-03 11:04] PietroLiuzzo commented on #931
have you searched LOV? http://lov.okfn.org/dataset/lov

[2018-07-03 11:15] eu-genia commented on #931
there are many but most do not refer to persons but to works or geopolitical bodies or similar

dbpedia-owl:successor and dbpedia-owl:predecessor may fit, we have not used dbpedia-prefixed entities yet

[2018-07-03 11:43] PietroLiuzzo commented on #931
ok, lets go ahead with the bm specific ones.

[2018-07-03 12:30] thea-m commented on #931
I've added them

[2018-07-03 12:37] eu-genia commented on #931
I have now added the relations to the record PRS1854Amdase for testing. Would be helpful to see them on the main page. Can we, @PietroLiuzzo ?

[2018-07-03 15:39] PietroLiuzzo commented on #931
yes, with the next release

[2018-07-04 13:19] thea-m opened #932 "<affiliation> in person records"
There are several newish person records containing the element `<affiliation>`, which I believe has never been discussed and is logically not visualized (for example PRS12103Pakomis).
If the use of this element here is fine (I see no reason why not), could it be visualized?

[2018-07-04 14:49] thea-m commented on #824
I have followed the last proposition by @MassimoVilla and merged the records into LIT2891RepCh172, adding the incipit variants and bibliography there. The other records have been deleted and their IDs been replaced by LIT2891RepCh172. (This also concerns EMIP00028, @jonahsandford  @Ralph-Lee-UK )

[2018-07-04 14:49] #824 closed

[2018-07-04 17:16] PietroLiuzzo commented on #932
please do not use it before the practice has been discussed and documented. We already do a lot of encoding of things in idiosyncratic ways only in a handful of records which does not help, just get things more confused IMHO.
You can add the same information in a sentence inside the description, and link with a `<ref/>` or a `<placeName/>` or if it is too hard to write a sentence, you can use a `<

[2018-07-05 07:46] thea-m commented on #932
As these records were created by @eu-genia, it probably makes most sense if you do this, since you know the context best

[2018-07-05 08:17] eu-genia commented on #932
I am sorry, it seemed to me a most logical place to put the information for monks belonging to a certain monastic community (or to that end, academics belonging to a university or similar context). Have taken all occurrences out now.

[2018-07-05 08:30] thea-m commented on #932
thank you!

[2018-07-05 09:20] PietroLiuzzo commented on #932
how have you decided to encode this?
is it now in the guidelines?

[2018-07-05 09:36] eu-genia commented on #932
I have replaced the tag with descriptive text inside the `<floruit>` element which has been used for biographies.

[2018-07-05 09:38] eu-genia commented on #932
(Yet if we do not want to ever use the element maybe it should not be valid in the schema?)

[2018-07-05 09:39] PietroLiuzzo commented on #932
well, that is true of so many elements... but also explicit exclusion should be discussed, which was the point here, not the correctness of the encoding. there is still one affiliation, see link above.

[2018-07-05 10:04] eu-genia commented on #932
now should be clean

[2018-07-06 12:15] #697 closed

[2018-07-06 12:32] thea-m opened #933 "error"
There is an error for http://betamasaheft.eu/manuscripts/BAVet43/main

HTTP ERROR 500
Problem accessing /exist/apps/BetMas/manuscripts/BAVet43/main. Reason:

    Server Error
Caused by:
javax.servlet.ServletException: javax.servlet.ServletException: An error occurred while processing request to /exist/apps/BetMas/manuscripts/BAVet43/main: exerr:ERROR Exception while transforming node: invalid floa

[2018-07-06 12:54] thea-m commented on #590
I have added two paragraphs to the guidelines, http://betamasaheft.eu/Guidelines/?id=persons:

Please reopen if there is anything you disagree with or that has remained unclear

[2018-07-06 12:54] #590 closed

[2018-07-06 12:56] thea-m commented on #718
@sologebre ?

[2018-07-06 13:18] thea-m commented on #372
@DenisNosnitsin1970 , are you fine with the solution proposed by @PietroLiuzzo  ?
To close this issue, it would be good to work with an example. Is there any scroll whose images are available to us that would be appropriate for such a purpose?

[2018-07-06 13:23] thea-m commented on #629
I think that it would make sense to add this information either by entering the IDs of these texts as a clavis ID or by having a relation (which would maybe be more appropriate in the cases in which the TUK only encompasses a part of one of our works?). What do you think, @PietroLiuzzo ?

[2018-07-06 14:12] sologebre commented on #718
Yes, there is a clear difference between <occupation type="ruler"> </occupation> and <occupation type="political">ruler</occupation>. <occupation type="ruler"> </occupation> refers specifically an occupation of a king or a queen or in the contemporary system of political administration can it be a president (head of the state) or prime minister (in the parliamentary form of government). Therefore,

[2018-07-06 14:12] #718 closed

[2018-07-07 18:02] sologebre commented on #721
Very little is known in Ethiopian history about the names of the concubines of kings. It's not well documented. However, it is known that there were kings who had more than one wife, and so I think we can also record the relationship of these women bm:wifeOf. In fact, however, there were royal wives of the kings who received a royal name with the king at the time of coronation. Then, in this case,

[2018-07-07 18:02] #721 closed

[2018-07-10 08:28] PietroLiuzzo opened #934 "schema rule for dimensions"
We need a rule in the schema to prevent the use of , instead of . in the height, widht, depth elements

[code]

[2018-07-19 15:38] PietroLiuzzo commented on #917
This desire is already part of the normal way the encoding works as far as I know. you have always been able to add as many keywords as you wish to a work record and you can use <term/> with the given keyword where you want or use a @corresp to a given id, or use a narrative unit id inside a corresp . so, I do not see anything preventing the additing of futher values to the keyword lists. in the t

[2018-07-19 15:40] PietroLiuzzo commented on #917
if no volunteers I can do that tomorrow morning.

[2018-07-19 15:52] DenisNosnitsin1970 commented on #917
It would be useful to include the above mentioned types under the additions, as their first and most normal way of circulation is exactly as that of "added writing". They can be copied in a special manuscript and get the status of the main text, and in some cases they are written down in a manuscript from the very beginning. All this is typical mostly for the the documents related to the land tenu

[2018-07-19 18:47] PietroLiuzzo commented on #917
Nevermind, after all they have been called like that till now. I will summarise also this last comment and the general principle in the guidelines and try to clarify this ambiguity. I think you can add those freely to the taxonomy as we have added all other values there in the past.

[2018-07-20 06:36] #934 closed

[2018-07-20 06:44] #933 closed

[2018-07-20 07:02] PietroLiuzzo commented on #933
As you can see in the commit, the problem was in the use of `<dim unit="leaf">unknown</dim>`
Where the conflict is created by the fact that `dim` is required inside a `collation/item` but is not known from the catalogue, which forces the encoder to add dim and assign it an allowed but not processable value, i.e.  'unknown' instead of an integer. I have added a rule to the schema and updated the gu

[2018-07-20 07:58] #932 closed

[2018-07-20 08:20] #931 closed

[2018-07-20 09:06] #926 closed

[2018-07-20 09:07] #925 closed

[2018-07-20 09:16] PietroLiuzzo commented on #755
There is now on places and institutions an added peripleo embedd which leads then to peripleo where all this functionality is provided. there is also a box with items related to a place and ON EACH placeName anywhere a list of related pelagios entities can be obtained on click on the arrow.

[2018-07-20 09:16] #755 closed

[2018-07-20 10:07] PietroLiuzzo commented on #917
I have edited the guidelines to reflect this last part of discussion. I do not think I need to be assigned here any more. @DenisNosnitsin1970 can create the keywords which are not yet there and update the schema and taxonomy. It would be nice to add some examples to the guidelines when they are there.

[2018-07-20 10:09] #770 closed

[2018-07-20 10:32] PietroLiuzzo opened #935 "SNAP graph should pick up also grandfathers , etc."
see amda seyon, for which there is a grandfather but the SNAP graph seams not to know.

[2018-07-23 08:01] thea-m opened #936 "links in catalogue view broken"
the links don't work here:
http://betamasaheft.eu/catalogues/list
HTTP ERROR 500
Problem accessing /exist/apps/BetMas/catalogues/GrebTiss1935Codices/list. Reason:

    Server Error
Caused by:
javax.servlet.ServletException: javax.servlet.ServletException: An error occurred while processing request to /exist/apps/BetMas/catalogues/GrebTiss1935Codices/list: exerr:ERROR Error while evaluating express

[2018-07-23 08:33] thea-m commented on #936
thank you!

[2018-07-23 08:33] #936 closed

[2018-07-23 08:57] thea-m opened #937 "transliteration አምኃ"
Leslau has ʾamməḫā, in our Person records (and the EAe), there are both ʾamməḫā and ʾamḫā . Does ʾamḫā reflect an existing pronunciation or can the records be corrected to ʾamməḫā ? What do you think?

[2018-07-23 09:36] thea-m opened #938 "visualization dates in person records"
Dates given as values in `<birth>`, `<death>` or `<floruit>` with @notBefore or @notAfter and @cert="medium" are not visualized, for example PRS1906Ananyao

[2018-07-23 09:41] PietroLiuzzo commented on #938
I think there was already an agreement that they should not, since there is text in the element itself. You see the dates in there in the list view
http://betamasaheft.eu/persons/list?mainname=%CA%BEAn%C4%81ny%C4%81&date-range=0%2C2000&cp=

perhaps you wish to have a box with summary information about dates in these three elements (i.e. excluding date elements which might occur inside them)?

[2018-07-23 09:58] thea-m commented on #938
Thank you! I now remember the discussion about this (#663)...the guidelines have

And there are actually many instances where the dates are not included as text in the element, as for PRS10062Warqitu for example. I think they are only not visualized if the element has @cert as well.
A box is maybe a good idea as well, if it doesn't crowd the page too much (could it  be integrated into the box with

[2018-07-23 10:02] thea-m commented on #937
from discussion with @sologebre we have agreed on ʾamməḫā, which I have added to the guidelines, please reopen the issue if you disagree

[2018-07-23 10:02] #937 closed

[2018-07-23 10:17] PietroLiuzzo commented on #938
added

[2018-07-23 10:17] #938 closed

[2018-07-23 10:23] thea-m commented on #938
wonderful, thank you!

[2018-07-23 11:30] thea-m opened #939 "text of the chronicle of Bakaffa not on the app"
It the text of LIT4633Chronicle intentionally encoded as not to be visualized on the app (yet?)? (It is encoded in single div type textparts and not contained in a div type edition)

[2018-07-23 12:00] #939 closed

[2018-07-23 15:49] DenisNosnitsin1970 opened #940 "Function "create a work""
Sometime the function "create a work" does not work, sending a message:
"exerr:ERROR XMLDB reported an exception while storing documentorg.xmldb.api.base.XMLDBException: Write permission is not granted on the Collection. [at line 583, column 19]".

[2018-07-23 17:08] PietroLiuzzo commented on #940
This is a known issue and is related to the login module and is shared by all our apps.
At the moment the only workaround is that you simply have to make sure you are logged in.
Sometimes it will require you reloading from server (F5 or shift + reload) and or clearing your cache. If it does not work you can try using a different browser. Since this is only occasionally occurring, can be overcome w

[2018-07-26 12:02] thea-m opened #941 "New person function broken"
I cannot create new persons anymore

(I might have tried to create a Batra Giyorgis twice just now)

[2018-07-26 12:03] PietroLiuzzo commented on #941
please refresh your browser, clear your cache and login again. you might alternatively try to use another browser temporarily.
#940

[2018-07-26 12:15] thea-m commented on #941
thank you, worked in firefox (where the login window even stays in its place and doesn't disappear all the time! it's wonderful!)

[2018-07-26 12:15] #941 closed

[2018-07-27 08:53] thea-m opened #942 "bibliography"
the zotero tag bm:Basset1881Chronicle in PRS7076Mikael does not exist anymore, could you replace it by the correct tag? Thank you!

[2018-07-27 09:21] thea-m opened #943 ""show attestations" in institutions doesn't work"
The show attestations button in institutions seems to be a link, but nothing loads after clicking on it (for example INS0064AMM)

[2018-07-27 09:30] thea-m opened #944 "display in institution manuscripts having it as place of origin"
I think that it could be useful to display in the record of insitutions the list of manuscripts which have this institution as a place of origin, even if they are no longer kept there (this might be very relevant for instance for INS0101MadhaneAlam).
I assume that these manuscripts will be picked up by the show attestations function (which currently doesn't work for me) anyway, but it could still

[2018-07-27 09:36] PietroLiuzzo commented on #944
isn't the filter by place of origin already giving exactly this functionality?

http://betamasaheft.eu/manuscripts/list?origPlace=INS0101MadhaneAlam

 (whereas the attestations is an entirely different thing)

[2018-07-27 09:38] #943 closed

[2018-07-27 09:45] thea-m commented on #944
yes, thank you!
But I don't manage to do it :) (I clicked on place of origin in INS0101MadhaneAlam and then on the filter icon and didn't get results)
http://betamasaheft.eu/manuscripts/INS0101MadhaneAlam/list?mainname=&date-range=0%2C2000&cp=&numberOfParts=&height=&width=&columnsNum=&tmargin=&bmargin=&rmargin=&lmargin=&intercolumn=&folia=1%2C1000&qn=1%2C100&qcn=1%2C40&wL=1%2C100&restorations=

[2018-07-27 09:50] PietroLiuzzo commented on #944
if you click place of origin, the usual behaviour for additional filters occurs, i.e. a filter will be loaded, and you will see a spinning wheel. after that is loaded you can pick one of the place of origins of the manuscripts you are seeing and then hit the filter button. looking at your url, where the parameter is not set, you have not selected anything in the origPlace filter. I believe you exp

[2018-07-27 10:05] thea-m commented on #944
I was clicking on the filter in the page of the institution (hoping for "look for what NOT in this list of manucripts in INS1234 comes from INS1234", which probably cannot work like this), not the manuscript view, so nothing loaded. Anyway, now I understood how to find the information :)

[2018-07-27 10:05] #944 closed

[2018-07-27 14:46] #942 closed

[2018-07-30 10:17] thea-m opened #945 "Definitions of additions"
Dear all,

in view of #895 and other recent discussions, @DenisNosnitsin1970 has provided a comprehensive list containing types of additions with definitions and examples ([Definition additional notes.docx](https://github.com/BetaMasaheft/Documentation/files/2240695/Definition.additional.notes.docx)).
The types marked in green seem to us relatively clear and their definition has already been updat

[2018-08-01 12:13] thea-m commented on #917
For reference, here is the complete list:
[BM Additional notes with ID.docx](https://github.com/BetaMasaheft/Documentation/files/2249352/BM.Additional.notes.with.ID.docx)

[2018-08-02 12:01] thea-m opened #946 "Colophons and Titles"
The document taken as a discussion basis is here:
[Colophons and  additiones  Encoding  DR DN.docx](https://github.com/BetaMasaheft/Documentation/files/2253094/Colophons.and.additiones.Encoding.DR.DN.docx)

We have agreed for now on the following points:

- The general proposition of encoding colophons transmitted in all manuscripts in the work record and colophons particular to one manuscript in

[2018-08-03 08:15] Gnisci commented on #888
Hello @thea-m thea, for some reason, I was not notified of this, let me look into it ASAP

[2018-08-03 08:25] thea-m commented on #888
thank you, @Gnisci ! Take your time :)

[2018-08-03 08:38] Gnisci opened #947 "Critical Issues in the encoding of Miniatures"
Dear @Ralph-Lee-UK ,

I see you've been doing a lot of work on the ATs, which is great, but I think that some of the encoding you did requires discussion and, at least in some cases, amending.

So far, we've distinguished between iconic and historical depictions. Historical depictions (e.g. The Betrayal of Jesus, or the Crossing of the Red Sea) have a specific AT Id assigned to them. So, for insta

[2018-08-03 08:57] Gnisci commented on #947
For much the same reasons I outlined with regard to the encoding of portraits I would be strongly against encoding undefined information as an AT. Such as

AT1078TwoBeardedMen
AT1113TwoMen

This has no practical purpose and leads to an infinite amount of possible ATs. I think we need to clarify what is intended as an Art Theme = AT. An AT is a clearly identifiable subject that has a long-standing

[2018-08-03 09:00] eu-genia commented on #947
I agree with Jacopo - the AT to be assigned for persons such as saints/prophets should be the generic one, and the saint is then identified with a persID so that everything becomes easily searchable.
E.g. any of the four evangelists gets (if alone) AT1013EvaPortrait, if there is a group (2 or more, no matter who) it is AT1014Evangelists etc.
Same should be done for the saints such as Takla Haymano

[2018-08-03 09:09] eu-genia commented on #947
AT1084JesusChrist not by any chance the same as either AT1055ManofSorrows or AT1040Ancient or any of the other standard representations?

Is AT1089ManOnHorse not the same as AT1012Equestrian?

[2018-08-03 09:13] thea-m commented on #947
Thank you, @Gnisci for your comments, and also to @Ralph-Lee-UK for all your contributions, which are very enriching for us.
Maybe some of the doublets pointed out can also be explained in light of the fact that the website (including guidelines) was offline in the last days (works now!!), which has made searching and checking a bit more cumbersome.
Not being an art historian, I do not feel qualif

[2018-08-03 10:11] thea-m opened #948 "typo"
Could you please correct in the guidelines "To cite this guidelines, please use:" to "these"? Thank you!

[2018-08-04 08:44] #948 closed

[2018-08-06 10:28] eu-genia commented on #947
Dear @Ralph-Lee-UK ,
you have just created yet another AT, for Saint Luke, yet as I believe, according to the system suggested by @Gnisci the general AT for the Evangelist should be assigned here, and Luke specified by the persName element only.
Would it be possible for you to go through the Art themes and the manuscript descriptions and check?
Thank you so much.

[2018-08-06 10:37] Ralph-Lee-UK commented on #947
Apologies, that was my mistake.

I will go through these – there have been some problems with accessing the BM site, which have made this difficult.

Regards

Ralph

Ralph Lee

Cambridge, UK

* +44 7906149088
*  <mailto:ralphlee1965@gmail.com> ralphlee1965@gmail.com

 <https://www.facebook.com/ralph.lee.7505>   <skype:ralph_and_sarah?add>

From: Eugenia <notifications@github.com>
Sent: 06 August 2

[2018-08-06 10:40] Ralph-Lee-UK commented on #947
I now see the earlier conversation that you started. I am trying to create a list of AT files so that it is easy to check what has been done. I am also trying to create more generic art themes, rather than be too specific. Perhaps we could have a Skype conversation about this, so that we are working to the same principles?

Regards

Ralph

Ralph Lee

Cambridge, UK

* +44 7906149088
*  <mailto:ralp

[2018-08-06 11:00] Gnisci commented on #947
Dear @Ralph-Lee-UK ,

Thanks for reply.

I would be happy to organize Skype meeting to talk this through, you can reach me at: j.gnisci@live.com

Speak soon

[2018-08-06 11:01] Ralph-Lee-UK commented on #947
I'm going to give some time to correcting this just now. When I've done what I can, perhaps then we could have a conversation about it?

[2018-08-06 11:07] Gnisci commented on #947
Surely. We can also talk about it before you start correcting things, it may be best in fact.

[2018-08-06 11:14] PietroLiuzzo commented on #947
art themes and art keywords are listed here
http://betamasaheft.eu/authority-files/list

[2018-08-06 11:27] Ralph-Lee-UK commented on #947
Are you available just now? I have just been working on deleting the duplicates

[2018-08-07 08:38] SusanneHummel opened #949 "PDF Werkdatei"
In der PDF werden die Zeugnisse doppelt gedruckt. Wäre es möglich, Aufzählungszeichen oder ähnliches hinzuzufügen, um die Zeugnisse besser lesen zu können?
Außerdem ist die Schriftart auf Seiten 1 und 2 (der Teil zwischen Titel und Footer) zimelich groß.

[2018-08-07 08:41] Gnisci commented on #888
Most terms are clear, and I would be happy to provide definitions for them. In some cases, things are less clear, and I need some clarifications in order to proceed:

1. Miniature and illustration could be the same thing. Is it useful to maintain a distinction?
2. Frame can be a number of things, do you have any examples of how it has been used so far? It can be a band encircling a miniature as we

[2018-08-07 09:03] SusanneHummel opened #950 "PDf Werkdatei 2"
Die Literatur ist nicht wie in xml untergliedert nach "Secondary Bibliography". "Translation Bibliography" etc. Außerdem fehlen hier angaben zu den Zeugissen (z.B. bei "Editions Bibliography" > "Bezold" stehen die in der Edition verwendeten Textzeugnisse. Es wäre schön, wenn es auch in der PDF zu lesen wäre.

[2018-08-07 11:07] thea-m commented on #888
Thank you Jacopo! Maybe it would be good to wait for @DenisNosnitsin1970 's opinion when he's back next week, as I didn't work much with decorations.
Just for now, as far as I can see:
- Frieze and vignette have not been used at all (I don't know where this list originates, maybe some of its items are not relevant for us).
- Border as a value has only been used in BAVet53 and BAVet15, where it see

[2018-08-07 12:53] PietroLiuzzo commented on #950
bitte, mindestens einen Beispiel geben. dazu es wäre net einen Beispiel zu haben, wie es ist hier und wie erwartest du es auszusehen. danke

[2018-08-07 12:54] PietroLiuzzo commented on #949
bitte, mindestens einen Beispiel geben. dazu es wäre net einen Beispiel zu haben, wie es ist hier und wie erwartest du es auszusehen. danke

[2018-08-08 10:05] SusanneHummel commented on #949
Sorry, ich hatte vergessen, den Link hineinzukopieren: http://betamasaheft.eu/works/LIT1709Kebran/main

[2018-08-08 10:06] SusanneHummel commented on #950
Sorry, ich hatte vergessen, den Link hineinzukopieren: http://betamasaheft.eu/works/LIT1709Kebran/main

Es wäre schön, wenn die Bibliografie genau wie auf der webseite gedruckt werden würde.

Bitte erst NACH deinem Urlaub (werde sonst nie wieder eine issue während deines Urlaubs schreiben...)

[2018-08-13 10:34] PietroLiuzzo commented on #949
bitte probier nochmal, ich hab Zeugnisse und Bibliographie aktualisiert (#950 )

[2018-08-13 10:43] SusanneHummel commented on #950
Perfekt!!! Sogar die Literatur so schön geordnet. Danke!!

[2018-08-13 10:43] #950 closed

[2018-08-13 11:00] #949 closed

[2018-08-14 17:19] SusanneHummel opened #951 "unzutreffende Ergebnisse im Lexicon"
Ich habe in http://betamasaheft.eu/works/LIT3122Galaw/text auf das Wort ቤተ geklickt. Dann wird dieses Ergebis im Lexicon angezeigt: http://betamasaheft.eu/Dillmann/?mode=fuzzy&q=%E1%89%A4%E1%89%B0&id=Lc4c9f51b3cb445c4b5047142f77a1a3f

Aber die Ergbnisse sind nicht alle richtig, z.B. im dritten Ergebnis unter "ቤዛ"stimmt nur der erste Buchstabe, und weiter unten, z.B. "ሮተ" nur der zweite Buchstabe.

[2018-08-14 20:47] PietroLiuzzo commented on #951
das ist genau was die fuzzy search machen sollte. es gibt kein direktes link an einen lemma, deswegen die fuzzy search function sucht in Dillmann nach ähnliche Worte.

[2018-08-14 20:48] #951 closed

[2018-08-15 11:40] DenisNosnitsin1970 commented on #888
Ornamental frame is a decorative band that encompasses the entire writing area, e.g., GMS-002. The manuscripts decorated in such a way are not many, but there are some (usually luxus-books).
Ornamental bands are much more common, an ornamental band extends over one, or two, or three columns of writing (and again there is a difference if it extends over all columns (normally in the incipit of a tex

[2018-08-15 11:51] eu-genia commented on #888
type="frame" is present in the E-S records because it was automatically assigned on conversion.
I now replaced it where relevant through "band" in the updated files (except for the cases where frame is mentioned explicitly in the description)
I have not touched the remaining E-S bulk (all the records that do not yet comply with the schema and have no IDs inserted), there for the moment the "frame"

[2018-08-17 07:31] thea-m opened #952 "Differenciate new catalogisations and catalogue digitalizations on the app"
I think that it could be helpful for users (and good for us...) if it would be clearly visible on the app whether a manuscript record is the result of a new catalogisation or of the encoding of an existing catalogue (this is probably what should be highlighted in fact). All records have of course a "Catalogue Bibliography", but I don't think that users not familiar with the project will deduce fro

[2018-08-17 07:45] PietroLiuzzo commented on #952
I fail to see the problem. there is complete evidence of the sources and no copy of any catalogue. I think your presentation for the begehung made it also quite clear that there is no such thing as a digitized old catalogue in BM, but all manuscript descriptions are new catalogue records, based on the explicitly declared sources. The status of this new (citable, fully attributed and version contro

[2018-08-17 11:44] ElianaDalSasso commented on #791
Hi!The collation of the following manuscripts (Hamburg>Stabi) has many added leaves and results in an error 500 when displayed in the app. I put the collation between  to be sure that it was actually the problem.

http://betamasaheft.eu/manuscripts/SHOr405/main

http://betamasaheft.eu/manuscripts/SHOr413/main

http://betamasaheft.eu/manuscripts/SHOr402/main

http://betamasaheft.eu/manuscripts/SHOr

[2018-08-20 13:24] thea-m opened #953 "more than one saws:contains in a work record leads to error in text view?"
In records with more than one saws:contains, there is a problem with the text view (at least I think that's the reason....), for example http://betamasaheft.eu/works/LIT1233Cantic/text
(also LIT1325egziab or LIT1219Bible)

HTTP ERROR 500
Problem accessing /exist/apps/BetMas/works/LIT1233Cantic/text. Reason:

    Server Error
Caused by:
javax.servlet.ServletException: javax.servlet.ServletException

[2018-08-21 08:09] PietroLiuzzo commented on #953
well spotted, it was saws:contains.
should be fixed now.

[2018-08-21 08:21] #953 closed, assigned to PietroLiuzzo

[2018-08-21 10:25] #947 closed

[2018-08-21 11:01] Gnisci opened #954 "Encoding miniatures of the Miracles of Jesus and Miracles of Mary"
Dear All,

I was deleting a couple of duplicates and noticed that the miracles of Mary rising the artist who falls from his scaffolding has been encoded as AT1099StMary in EMIP00073 [link](http://cdm.csbsju.edu/digital/collection/SGD/id/8212). There is certainly merit in creating a separate AT for each of the Miracles of Mary and Jesus, as, especially in the 18th century, they form an important bu

[2018-08-21 11:35] Gnisci commented on #888
Here is a preliminary list of tentative definitions (open to suggestion and comments):

frame
I take it we are not going to distinguish between frame and band? One could retain a difference, as Denis points out, between horizontal bands and bands that sorround four or three sides (= open frame) of a text or miniature.

miniature
An indipendent illustration in colour that occupies the full-page or

[2018-08-21 12:59] thea-m opened #955 "collation ESmr001"
There is a problem in the collation of ESmr001, which leads to an error on the app

[2018-08-22 08:22] thea-m opened #956 "error LIT2384Taamme"
LIT2384Taamme is not displayed on the app (504 Gateway Time-out)

[2018-08-22 09:29] PietroLiuzzo commented on #956
The large amount or related items was leading to the time out. I have now relocated that load to the browser, i.e. the page will load and then you will wait as all the correct titles are printed.

[2018-08-22 09:29] #956 closed

[2018-08-22 13:06] DariaElagina opened #957 "Unknown number of hands"
Dear all,
would it be a good idea to develop a solution for a situation when the precise number of hands in a certain manuscript can not be defined? I just have a statement in the catalogue, that 'diverse hands', so there are presumably more than one. In this case, one could later verify Turaev's description. But still sometimes it might not be possible to define the precise number of hands.
Is th

[2018-08-23 19:45] PietroLiuzzo commented on #957
yes, there is
http://www.tei-c.org/release/doc/tei-p5-doc/en/html/ref-handDesc.html
simply adding a paragraph inside handNote and write what you want should do it!

[2018-08-24 10:09] DariaElagina commented on #957
Thank you, Pietro. Should I probably add this to our Guidelines?

[2018-08-24 10:11] PietroLiuzzo commented on #957
it is already in the TEI guidelines, and we do not behave in any special way here, so no need to replicate in our guidelines what is already in the TEI guidelines we refer to. Our guidelines are only a further specification. If you would like to add an example of this in the dedicated page of the GL, is up to you, it will do no harm and perhaps will help the next one with this question. thanks

[2018-08-24 10:11] #957 closed

[2018-08-28 04:45] PietroLiuzzo commented on #804
RDF subids and normal ids now redirect, with exception for uri with colons.

link alternate rdf provided in item view
html link to rdf provided as well

content negotiation
on a request to the id, if application/rdf+xml is specified then a graph of that uri will be constructed, otherways the html page will be shown

documentation is provided in the new page /lod.html
also guidelines?id=ontologyVie

[2018-08-28 09:44] thea-m opened #958 "creation of new person record"
I cannot create new person records through the app:

Mit dieser XML-Datei sind anscheinend keine Style-Informationen verknüpft. Nachfolgend wird die Baum-Ansicht des Dokuments angezeigt.
      <exception><path>/db/apps/BetMas/edit/save-new-entity.xql</path><message>exerr:ERROR XMLDB reported an exception while storing documentorg.xmldb.api.base.XMLDBException: Database is read-only [at line 583, c

[2018-08-28 13:04] PietroLiuzzo commented on #958
Please check now, I have cleaned up some space and restarted the server which was out of disk space

[2018-08-29 07:10] thea-m commented on #958
works now, thank you!

[2018-08-29 07:10] #958 closed

[2018-08-30 19:14] PietroLiuzzo commented on #841
most of the properties in the RDF export are now also represented in RDFa, before any actual use of that and a validation of the model is done, it is not worth progressing on this. see also #804

[2018-08-30 19:14] #841 closed

[2018-08-30 19:18] #871 closed

[2018-08-30 19:19] #858 closed

[2018-08-31 10:49] thea-m opened #959 "locus in colophon visualized twice"
`<locus>` in `<colophon>` is always visualized twice, for example in BAVet44

[code]

becomes:

DSEthiop11 as well, and many more

[2018-08-31 10:53] #959 closed

[2018-08-31 10:59] DariaElagina opened #960 "Encoding of letters"
Dear all, right now I am working on encoding of a collection of private letters to Russian doctors in Amharic from Turaev's catalogue. I have a point to discuss with you. Would it be a good idea to create a new keyword? I do not find neither of the existed really fitting. Amharic literature does not fit because these letters are of course no literature. They are rather private letters, not legal d

[2018-08-31 11:01] PietroLiuzzo commented on #960
I would go ahead with hesitation. Guidelines tell you how to properly create the keyword

[2018-08-31 12:17] DariaElagina commented on #960
What would be then the best key word? Letter? Private letter is probably too narrow.

[2018-08-31 13:12] thea-m commented on #960
Letter seems fine to me (we already have it as an addition type as well). Though I would argue that some letters could be viewed as being literary works, but that can be decided case by case.

[2018-09-03 06:07] PietroLiuzzo commented on #960
If Letter is already there, then cannot we use that?

[2018-09-04 12:56] thea-m opened #961 "Single records of miracles"
While working with a Taʾamməra Māryām manuscript, I have searched the existing miracle records a lot (usually successfully!) and noticed some inconsistencies (unsurprising, considering the amount of records and time span over which they were created). It could be helpful to standardize these records somewhat, now that we already have quite a large corpus to work with.
I noticed the following point

[2018-09-04 18:45] DenisNosnitsin1970 commented on #961
If I understand right - I agree with including the name of Mary, Jesus or saint for identification (but then for all texts of the miracle genre). What do you mean under short summary or key words? I assume this may be more problematic. To be more or less correct, you need to read the miracle; otherwise we invent the appelation following a secondary description or a quick look. I would rather sugge

[2018-09-05 12:51] DariaElagina commented on #960
We have as an addition type, but not as a keyword for manuscript, work, or narration unit

[2018-09-05 14:11] PietroLiuzzo commented on #960
you can certainly use the same. as long as there is an authority file for it, it does not need to be specified for a purpose.

[2018-09-06 10:51] DariaElagina opened #962 "Encoding of Letters (general issue)"
Dear all,
I think we have to decide how (and whether) we encode private letters, written on single leaves (not as an addition to any text). By now I created manuscript records for each letter, but no work record or narrative unit record for them. These letters are unique private messages.
Here are the examples of my records:
http://betamasaheft.eu/manuscripts/IVEf921/main
http://betamasaheft.eu/ma

[2018-09-07 09:13] thea-m commented on #954
If you think that it would be beneficial to do this, I would volunteer to start creating the records (with basic name and reference to the miracle in question, without deeper description of the art) for the miracles I encounter in manuscripts, since I am working on BL Oriental 645 now anyway.

[2018-09-07 11:54] abausi commented on #962
I would be in favour to have a solution parallel to that for documentary texts. To be able to display letters as a precise typology of single "works" would be certainly an added value to the project. Letters are not much studied, but there must have been more than we think and they deserve to be duly highlighted.

[2018-09-10 12:51] thea-m opened #963 "error PRS7840Phanuel"
HTTP ERROR 500
Problem accessing /exist/apps/BetMas/persons/PRS7840Phanuel/main. Reason:

    Server Error
Caused by:
javax.servlet.ServletException: javax.servlet.ServletException: An error occurred while processing request to /exist/apps/BetMas/persons/PRS7840Phanuel/main: exerr:ERROR XPTY0004: The actual cardinality for parameter 1 does not match the cardinality declared in the function's signa

[2018-09-11 11:38] thea-m opened #964 "visualization of names in person records"
All names given in `<person>` are displayed currently in the app under "dates", following the dates themselves, and not, as they used to be, under "names".
For example in PRS9429Tewodros

[2018-09-12 03:53] gabays opened #965 "Team.html does not work"
cf. title

[2018-09-13 10:53] MargaretheJenner opened #966 "Missing Emperors of Ethiopia"
I cannot find:
Andreyas (https://en.wikipedia.org/wiki/Andreyas)

[2018-09-13 11:03] thea-m commented on #966
here he is: PRS3790endreyas

[2018-09-13 11:35] MargaretheJenner commented on #966
We have 4 differents versions of Eskender (https://en.wikipedia.org/wiki/Eskender).
Only PRS3874eskender contains useful information.

Unless they are suposed to be different Eskenders, I suggest to only keep PRS3874eskender

[2018-09-13 11:43] thea-m commented on #966
the seemingly empty records refer to other Eskenders, some do have minimal information in `<person>`. If you are curious, you can also click on "attestations" and see where in the project they have been used. We often create quite minimal person records, containing only a name and maybe a relation, particularly for persons mentioned in manuscripts about whom we simply know nothing else. Other reco

[2018-09-13 12:27] sologebre commented on #966
Definitely, please do!

On Thu, Sep 13, 2018 at 2:23 PM, MargaretheJenner <notifications@github.com>
wrote:

[2018-09-13 14:08] MargaretheJenner commented on #966
I cannot identify
Yeshaq Iyasu (https://en.wikipedia.org/wiki/Yeshaq_Iyasu)

[2018-09-13 15:32] thea-m commented on #966
I don't find him either. @sologebre ?

[2018-09-13 16:37] MargaretheJenner commented on #966
I cannot identify :
ʿAmdä Ṣǝyon (https://en.wikipedia.org/wiki/Amda_Seyon_(usurper))

[2018-09-14 08:51] sologebre commented on #966
Yeshaq Iyasu (https://en.wikipedia.org/wiki/Yeshaq_Iyasu) was a rebel who declared himself king during the reign of ʾIyāsu I (1658-1706). So, he was not officially recognized an Emperor of Ethiopia. So, we have to crosscheck the wikidata information with conventional Ethiopian histriography.

[2018-09-14 14:36] PietroLiuzzo commented on #964
sorry, should be fixed now

[2018-09-14 14:36] #964 closed

[2018-09-15 14:01] thea-m opened #967 "visualization of extent"
would it be possible to have a line break on the app after each `<measure>` given in `<extent>`?
For example, in MNC001, there is:
[code]
which is visualized as

It would also help already if a comma could be added after the locus values.

[2018-09-17 05:31] PietroLiuzzo commented on #967
This is a mixed content element, so adding programmatically punctuation is at the risk of having then too much where this is not needed. I believe the easiest thing to do here is to add that comma.

take for example a ES manuscript as ESap017
[code]
adding commas here would return a rather messy thing.

[2018-09-18 11:32] MargaretheJenner commented on #966
I cannot identify:
Atse Iyasu
https://en.wikipedia.org/wiki/Atse_Iyasu

[2018-09-18 12:33] sologebre commented on #966
Here is the id for ʾIyāsu III- PRS5618IyasuII, but the information provided in https://en.wikipedia.org/wiki/Atse_Iyasu is wrong.

[2018-09-18 14:59] MargaretheJenner commented on #966
Is http://betamasaheft.eu/persons/PRS5637IyoasI/main
https://en.wikipedia.org/wiki/Iyoas_II ?

[2018-09-18 15:39] MargaretheJenner commented on #966
I cannot find Egwale Anbesa (https://en.wikipedia.org/wiki/Egwale_Anbesa)

[2018-09-20 07:03] thea-m commented on #967
Ah, I see. Thank you!

[2018-09-20 07:03] #967 closed

[2018-09-20 07:51] thea-m commented on #966
Thank you!
Yes, PRS5637IyoasI is https://en.wikipedia.org/wiki/Iyoas_II
https://en.wikipedia.org/wiki/Egwale_Anbesa is PRS3691egwalaA
We apparently have no record for Takla Haymanot of Gondar

[2018-09-20 19:29] #927 closed

[2018-09-27 06:01] PietroLiuzzo opened #968 "institutions filters in list view broken"
the reordering of the files has broken something in the production od the filters and facets. for example there is no more library or museum filter...

[2018-10-08 11:53] thea-m opened #969 "space in change element visualization"
There is no space in the visualization between the date and the content of the element in `<change>`, for example in PRS9240Tansea:
[code]

I seem to remember that we used to have a space there?

[2018-10-11 12:51] DariaElagina opened #970 "Description of māhdar"
Dear all,
I would like to duscuss how we are going to encode the presence of māhdar. So far I could find three cases of its description, all of them EMIP under collation. Would it be the right place?

[2018-10-11 14:34] thea-m commented on #970
I don't know what it is and cannot find it in the files :) Could you give the examples?

[2018-10-11 17:17] PietroLiuzzo commented on #970
http://betamasaheft.eu/as.html?query=māhdar
@jonahsandford and @Ralph-Lee-UK can certainly help here.
My impression is that those note are actually part of binding and not collation? could it be?

[2018-10-15 09:52] DariaElagina opened #971 "Transliteration of Cyrillic in Zotero"
Dear all,
The basis for transliteration of Cyrillic should be this table http://kodeks.uni-bamberg.de/AKSL/Schrift/Transliteration.htm
There are however further issues to face. Publications in Russian before the spelling reform of 1918 follow the old orphographic rules, which is of no problem for the titles. In that case, we have often another spelling for the authors' names as well, so Bolotov (Б

[2018-10-15 09:55] PietroLiuzzo commented on #971
Dear @DariaElagina, please, once settled, add this to the relevant pages of the guidelines directly.

[2018-10-15 09:59] DariaElagina commented on #970
@thea-m  it was my very first time to meet the description of this as well :) here are three examples we have:
http://betamasaheft.eu/manuscripts/EMIP00108/main
http://betamasaheft.eu/manuscripts/EMIP00110/main
http://betamasaheft.eu/manuscripts/EMIP00109/main

[2018-10-15 10:04] DariaElagina commented on #970
@PietroLiuzzo  I have the same impression, but I am not sure about that.

[2018-10-15 10:05] DariaElagina commented on #971
@PietroLiuzzo Sure, I will

[2018-10-15 10:54] eu-genia commented on #971
1)
I personally would follow the post-1918 orthography for the names (especially for the "hard sign" at the end) in order to avoid too many variant spellings, and preserve the original orthography in the titles only. This is also what we did in the COMSt Handbook (see e.g. Lavrov, Marr, Simoni, etc).

2)
Of course for publications already in Latin script the spelling used by the author/publisher s

[2018-10-15 14:25] DariaElagina opened #972 "Navigation System: color threads"
Dear all,
another question I have: how do we want to encode the existence of color threads for navigation in the manuscript. Some manuscripts of EMIP have these feature, which is described in the collation. For example, http://betamasaheft.eu/manuscripts/EMIP00128/main#generalphysical
I do not quite agree with that, but if it is an appropriate way to encode this feature, should we probably documen

[2018-10-15 16:16] PietroLiuzzo commented on #972
@ElianaDalSasso had done something related to this, please have a look at the binding section, I think that is the appropriate place, also for #970 and yes, when this is settled you could update the guidelines with the specific bit of information about how to encode these features.

[2018-10-15 19:52] PietroLiuzzo commented on #971
I would advise against entering the two variant name forms in the name or surname field in zotero. it might make you life easier in searching, but it will break all the rest, starting with reuse of the zotero record in BM. On the other side this is not a problem for us to solve, there are authorities for this, VIAF in this case, and the DNB. I would suggest in order to preserve the functionality a

[2018-10-16 08:55] DariaElagina commented on #971
Well, the problem is not the fact that we have doubt about the transliterated form, but rather when the author him or herself uses an alternative transliteration for publications in foreign languages. There is no doubt that the correct transliteration is Turaev, but he, himself, used Turaiev. So, all his publications in Russian are written by Turaev and all publications in other languages by Turai

[2018-10-16 08:57] PietroLiuzzo commented on #971
yes, I did get that, my point is simply that the personal taste of the author should not affect us when providing data for reuse. We should simply stick to national and international standards.

[2018-10-16 09:00] DariaElagina commented on #971
I don't think we can change the name of the author provided in the publication...

[2018-10-16 09:06] eu-genia commented on #971
The personal taste of the author MUST affect us. we cannot ignore the name form appearing on the book cover, this is a bibliographic error. The publication would not be retrievable otherwise!
Eg all publications by Frantsouzoff have Frantsouzoff, this is the name he is known under internationally, and the name appearing above all the articles in English/French etc. We cannot ignore that. Yet of co

[2018-10-16 09:09] eu-genia commented on #971
Maybe in order to keep the records clean and avoid brackets we could consider using the field "Extra" in Zotero for listing all name variants (or also the VIAF ID) - then the records at least will be searchable and one could retrieve the information when completing bibliographies in publications.

[2018-10-16 09:17] PietroLiuzzo commented on #971
I think we have to if we care about reusability and consistency of our shared library.
A different matter is the title, where we should not change from the publication.
Again to be distinguished is what is in Zotero and what you want in the printed Bibliography. IMHO the db should definitely standardize according to authorities. the printed bibliography (not necessarily our style! can follow this

[2018-10-16 09:19] PietroLiuzzo commented on #971
sorry @eu-genia, I read your post on reloading... Extra is used for other things and also by the style, adding this kind of information there would mean chain changes which are probably not needed. notes are better in this case I think.

[2018-10-16 09:33] abausi commented on #971
I am reading everything, from the train, before a seminar/workshop on
philology that will start in a few hours in Naples.

I agree that we have to respect standards and observe the criterion of
reusability, but there are cases when we have to do better: and this
seems to me to be one of those cases.

I think that there is still room for using better the Zotero
bibliography. I can imagine that we c

[2018-10-16 09:59] PietroLiuzzo commented on #971
No doubt Zotero styles can be improved, and we have issues about that which are documented and wait for some attention (my fault!), but it will be very hard to make any of the parts of the bibliographic workflow do things satisfactorily if we do not stick to standards with the data we enter.
I think these are cases in which the very best we can do is to enter standard data correctly and preserve t

[2018-10-16 10:07] DariaElagina commented on #970
We seem to have an opportunity to describe such things in the biding description: http://betamasaheft.eu/Guidelines/?id=decoNote
SlipCase | for use in binding description. Portable leather case with attached slip where the manuscript is kept.

[2018-10-16 10:16] eu-genia commented on #971
I still am convinced that the titles can only appear accompanied by the name form as it is present in the publication.

This is not the matter of what is "preferred" by the author but of the retrievability of a title in a library catalogue or other bibliographies. The main rule remains: name and title must be as they are provided by the publication. It is the standardized variant that, if deviatin

[2018-10-16 10:48] PietroLiuzzo commented on #971
Hopefully library catalogues in 2018 will normalise by linking their authority files to VIAF or national libraries, but we do not have this possibility in a bibliographic database as far as I know, and it is not our task to do so. Zotero might implement this, but from a quick inquiry this is not yet supported.
If the needs are thus of a clean reusable database which is able to produce in conjuncti

[2018-10-16 11:39] abausi commented on #971
Please, exclude me from this conversation, I cannot do five things at
the same time. Later on or in the next days.

Il 16.10.2018 11:48, Pietro Liuzzo ha scritto:

[2018-10-16 14:50] larkvi commented on #970
A mahdar is not a slipcase, and decoNote would seem inappropriate in any case, since the mahdar is not decorative and generally not decorated. I would suggest that the best solution is physDesc/objectDesc, treating it as an object separate from the codex: separate items for codex, chemise, and mahdar.

(If you were set on treating it as a binding, bindingDesc/binding is unbounded.)

[2018-10-16 14:51] larkvi commented on #970
If you were going to note it in plain text, I believe the note should be in bindingDesc, not decoDesc.

[2018-10-16 15:01] PietroLiuzzo commented on #970
We use deco_Note_ in bindingDesc (as well as in decoDesc) quite regularly, as allowed by TEI. See also chapter 10 of the Guidelines for an example of this use. This allows us also to group nicely decoNotes when needed.
You will forgive my ignorance, could we get a short description of Mahdar and also chemise so that we might all understand each other? I am a bit reluctant to multiply objectDesc in

[2018-10-16 15:16] DariaElagina commented on #970
@larkvi  many thanks for your feedback!
We certainly need a description of all such objects, I have never seen them irl.
I think that collation is not an appropriate place anyway.

[2018-10-16 15:18] larkvi commented on #970
A mahdar is a leather case (usually with a strap) that may be made in one or two pieces, and acts like a box.
A chemise is a cloth jacket which is pulled over the binding as a decorative or protective element.
Neither is integral to the binding, and while I treat them in my chapter on binding (see pp. 256--262 https://tspace.library.utoronto.ca/handle/1807/71392 ),they are both separate and potent

[2018-10-16 15:29] larkvi commented on #972
Since they are generally added after the manuscript is complete, by the user, in order to mark important divisions in the manuscript, perhaps `milestone` is the correct treatment, with a corresponding note in `physDesc`?

[2018-10-16 15:44] DariaElagina commented on #972
<milestone> marks a boundary point separating any kind of section of a text, typically but not necessarily indicating a point at which some part of a standard reference system changes, where the change is not represented by a structural element.
I think it might be a good option!
Thank you!

[2018-10-22 13:22] PietroLiuzzo commented on #972
I am not sure what is varia in your first suggestion Daria. I do not feel very confortable with milestone either, however. If you look at the examples also. Paradoxically, you might end up having to update the value of milestone every time the bookmark is moved... I instead like the physDesc note option. I would suggest to add this in a `<note>` element inside `<support>`.
ok?
somebody might also

[2018-10-22 14:05] ElianaDalSasso commented on #972
Dear all,
In COMSt in the description of ethiopic bookbinding (p.174) there is this definition: "Several manuscripts are furnished with bookmarks made of coloured threads or pieces of leather fastened to the outer margin of a leaf some 50 mm from its upper corner. In the de luxe manuscripts it is a small, colourful bunch of silk threads."
So far when I encountered these threads I encoded them in b

[2018-10-22 15:08] PietroLiuzzo commented on #972
so, we have a feature here, variously encoded which was not regularized. however, there was no demand for that. If we want to do this, then I think decoNote in binding is as good as a note in physDesc, but the latter is preferable because the bookmark as far as I understood is not part of the binding.

[2018-10-22 16:02] DenisNosnitsin1970 commented on #972
The quote from p. 174 is actually not a definition, but just an attempt to describe what one sees. As far as I understand, "bookmark" is a general term for several types of devices facilitating the use of the book (but also I see that it may refer to one of the types). So the terminology is a bit complex. What I see specifically for Ethiopic manuscripts is: "finger tab" and "edge tab", e.g. in Mil

[2018-10-22 16:40] PietroLiuzzo commented on #972
Thanks @DenisNosnitsin1970 ! that is I think a strong point for `//binding/decoNote`

[2018-10-22 16:42] ElianaDalSasso commented on #972
Yes, @DenisNosnitsin1970 sorry actually it's a description.
In general, a bookmark is described within the features of the binding when it is attached to the spine or to another part of the cover. Ligatus in the Thesaurus distinguishes three main types of bookmarks: movable (for example fixed to the spine), fixed (linked permanently to a leaf) and free.
Then there are different definitions accordi

[2018-10-23 10:19] DariaElagina commented on #972
I meant that we have this list for Varia or extra, which is not fitting at all as I see.
I agree with Denis we should also think, how do we name this, because it seems to be much more descriptions of that kind, but they use different terms.
I would agree on using decoNote in binding.
Once we establish the rule, I volonteer to update guidlines and to update the description according to our solution

[2018-10-23 10:19] DariaElagina commented on #972
Sorry, my comment has a strange format :)

[2018-10-23 10:45] ElianaDalSasso commented on #972
If we agree to encode it in binding we can work together or I can do that, as preferred, since I still have to update the part concerning endbands, sewing stations, boards... (!)

[2018-10-23 10:58] ElianaDalSasso commented on #970
Maybe also this point could be better encoded in guidelines (together with issue #972). At the moment  there is the possibility to describe a mahdar as "slipcase" in DecoNote in binding. We can agree on a different term and improve terminology...and then decide if it's correct to keep it in the description of binding.
Same for the chemise. Could it be a keyword in a DecoNote for Cover description?

[2018-10-23 11:17] DenisNosnitsin1970 commented on #972
I agree; then as a narrative <DecoNote>
 but preferably with a fixed or partly fixed statement.  What are "leaf string markers?"

[2018-10-23 11:46] ElianaDalSasso commented on #970
I think that the description of a mahdar is interesting when it's decorated, for example with blind tooling. And maybe could be useful to describe the decorative pattern of a chemise.

[2018-10-23 12:08] ElianaDalSasso commented on #972
"Leaf string marker" is a bookmark sewn directly through a leaf while the term "leaf tab marker" indicates a small, rectangular bookmark folded or pasted to the fore-edges of the leave. But if "tab" is more common for Ethiopic manuscript maybe it's better too keep it
Maybe..is Iit possible to use a general term "bookmark" and specify, if necessary, the type with keywords like "ribbon" and "sewn" o

[2018-10-23 14:51] DenisNosnitsin1970 commented on #972
It is better to keep apart those made of textile piece and those made of threads' bunch.  I am not sure if "leaf tab marker" type is common, if I understand it right. Just to summarize:
1) threads coloured or uncoloured, inserted in the corner or upper edge of the leaf; 2) textile ribbon inserted in the corner or upper edge of the leaf; 3) I read about one more type: a slit is made on the fore-edg

[2018-10-24 13:51] ElianaDalSasso commented on #972
@DenisNosnitsin1970 I think the last part of the comment is lost.
As far as I understand reading the Ligatus "language of binding" the 2) typology, textile ribbon, is referred to those movable stripes attached to the spine of the book. For them I would propose to use simply "ribbon marker".
3) I don't know any example of it too and I am not sure that I understood correctly. Is it something inserte

[2018-10-25 06:36] PietroLiuzzo commented on #972
@DariaElagina I really need a precise reference to where these Varia list are, I am not figuring it out, sorry!

I think for the purposes of the current encoding, it would suffice to close this issue to add a line to the guidelines for binding, where it says very simple
"also bookmars are encoded in this way".

to specify which bookmark type, I think the best and most flexible way, also given that

[2018-10-25 06:42] PietroLiuzzo commented on #970
Thanks @ElianaDalSasso ! if slipcase and mahdar are the same thing, we have the solution of the problem already, and it is one of these suggested, so, all good.

What needs to be done I think is to specify this in the SCHEMA, so that it will appear here: http://betamasaheft.eu/Guidelines/?id=decoNote. I can do this if you give me the wording.

In the guidelines pages we could certainly do with a c

[2018-10-25 08:12] DenisNosnitsin1970 commented on #972
Pietro, we are not far from the end :)  Eliana, i think it is better to separate, because it is not difficult whenever we can see it. Then it might be like ): 1) threads coloured or uncoloured, inserted in the corner or upper edge of the leaf - "**leaf string markers**" (or "marks", if we say "bookmarks"?) 2) a piece of textile ribbon inserted in the corner or upper edge of the leaf (in fact "ribb

[2018-10-25 08:46] PietroLiuzzo commented on #972
pointing to the definitions of ligatus, either in the schema or as previously suggested in the single instances for this Thesaurus terms is definitely best practice especially when looking at the same features in other catalogues. So having a link in the schema to ligatus could be an extra level of definition. Indeed I am also for more examples and more examples with images!

[2018-10-25 09:50] DariaElagina commented on #972
@PietroLiuzzo  I meant this: http://betamasaheft.eu/Guidelines/?q=varia&id=additionsVaria
but it does not fit anyway...

[2018-10-26 05:14] #955 closed

[2018-10-26 06:08] #968 closed

[2018-10-26 06:51] PietroLiuzzo commented on #962
Encoding letters on parchment or paper or whatever, written in ink or typed with a machine count as unique manuscripts with no doubt IMHO and there is where they belong. In the similar case of inscriptions, we have used the value of `@form` in `<objectDesc>` to specify an inscription, but in this case I am not sure it would actually be useful. The transcription of the letter would belong there and

[2018-10-26 07:38] PietroLiuzzo commented on #813
<hi rend='ligature'> is semantically correct, and will contain the sequence of character composing the ligature. what remains to be decided is how to display these, but given that there are no symbols, I will use a line above. Could you please provide an example file where this has been encoded?

[2018-10-26 08:14] PietroLiuzzo commented on #962
https://github.com/BetaMasaheft/guidelines/pull/4

[2018-10-26 08:45] PietroLiuzzo commented on #965
useing range indexes lookup solved the issue. added links to see list of the changes via xpath

[2018-10-26 08:45] #965 closed

[2018-10-26 09:07] DariaElagina commented on #962
@PietroLiuzzo thank you very much! I would come with my suggestion for guidelines

[2018-10-26 09:08] PietroLiuzzo commented on #963
pointers in relations had `#`. I am now going to check all the data for this kind of error.

[2018-10-26 09:09] #963 closed

[2018-10-26 09:14] PietroLiuzzo commented on #962
cool. please let us work on the dedicated branch (let me know if you need help with that) I have created for this edit to the guidelines.

[2018-11-01 12:34] DenisNosnitsin1970 commented on #972
Hoping to conclude this soon,
here are proposals for the formulas, to be considered for the Guidelines:
- bookmark of the type "leaf string mark" - made of one or several twisted threads, coloured or uncoloured, inserted in the leaf
- bookmark of the type "leaf tab markers" - made of a textile ribbon inserted in the leaf
Links to Ligatus from Eliana?

Possible cases:
1) Bookmarks: leaf string mark

[2018-11-01 19:38] ElianaDalSasso commented on #972
Thank you @DenisNosnitsin1970, I agree with the proposals.
I think that, at the moment, could be enough to distinguish between tabs and strings.
Tabs could be used to study history or manufacture of textiles while I don't know which studies could be done on the position of the string. It's actually difficult to go in details from photographs and I wouldn't know how to define the boundary between t

[2018-11-02 06:35] PietroLiuzzo commented on #972
Thanks @ElianaDalSasso and @DenisNosnitsin1970 I see here the very nice beginning of a photographic documentation for our guidelines. Great!

I agree with @DenisNosnitsin1970 to stop at the point of string/tab the position of which I would specify as text in the decoNote as in the suggestion by @ElianaDalSasso here above. I believe this would be interesting without forcing us to write a new projec

[2018-11-02 09:07] ElianaDalSasso commented on #972
Yes, sure!I can do that. So the keywords to be added are leafStringMark and leafTabMark right?
@PietroLiuzzo I am reading the guidelines but I don't understand how to use a <relation> element in this case, could you give me an example?

[2018-11-02 09:11] DenisNosnitsin1970 commented on #972
Eliana, if "Ligatus" treats "leaf tab markers" as you say, perhaps we can better take a different term. Concerning your question: I think we do find such bookmarks, in the centrefold. I mean, they are used and I saw some. We could have a term for them. But also other objects can be used as removable bookmarks: a simple strow, or a candle, or a piece of paper. You will find them ocassionally in the

[2018-11-02 09:17] PietroLiuzzo commented on #972
The example above should be ok, or is it not? You are making a statement which you can place anywhere where you say X is Y, subject predicate and object. Your subject is the identifier of the decoNote, the property the one defined there, the object is the URI of the concept in Ligatus.
the page is here http://betamasaheft.eu/Guidelines/?id=relations

[2018-11-02 09:59] ElianaDalSasso commented on #972
- Yes, it's a pity that it seems to be confined to pasted or cut and folded markers because leaf tab is a nice term to indicate that it is a bookmark wider than a string and attached to a leaf. Could I write a quick email to the ligatus staff to settle this doubt?

- We could also record the "centrefold bookmark" only when it is adhered somehow to the cover and it's not completely movable..."ribbo

[2018-11-02 10:11] DenisNosnitsin1970 commented on #972
Sure, please write to them, maybe they have a better term. If i understand you right, by the way, if you take the term "ribbon mark", you can interpret it as nothing more than a textile ribbon used as bookmark, irrespective of the way it is applied to the book and the place it is fixed which are clarified in an additional statement.  Actually the same for "leaf tab markers"; if it is not already t

[2018-11-02 11:55] PietroLiuzzo commented on #972
@ElianaDalSasso no, you need `<listRelation>` around `<relation>`
as in the guidelines examples. here is the correct code snippet

[code]

note that in `active` you will need to have the id of the manuscript before the anchor.
in the first part of the encoding you are saying there is a leaf string mark. In the second part inside `listRelation/relation` you are saying that that one and only that on

[2018-11-04 14:47] PietroLiuzzo opened #973 "Several IDS in @ref of title for Manuscript contents"
Dear all,

I am observing now a behaviour which occurs in the data quite often where several identifiers are used for a `@ref` of `<title>` in the contents of a manuscript. E.g.
[code]
this is from http:betamasaheft.eu/BLadd16219

I cannot find this documented in the guidelines, at least here it is never mentioned. http://betamasaheft.eu/Guidelines/?id=manuscriptContents
From my point of view howe

[2018-11-05 08:50] thea-m commented on #973
It seems to me clearly to be a case of old encoding from the beginning of the project that can be changed according to your proposal. I corrected one instance of this encoding that I found in one of my records (FSUffhludolfII22).

[2018-11-06 10:16] thea-m opened #974 "Encoding of BL Orient 829*"
BL Orient 829* (see Wright's index https://archive.org/stream/catalogueofethio00brituoft#page/334/mode/2up) seems to contain fragments of many different manuscripts bound together (possibly, nothing on the binding is stated in the catalogue). Wright has single entries for each of the fragments, sorted in his catalogue according to their content.
We already have two single records for one fragment

[2018-11-06 10:18] PietroLiuzzo commented on #974
sounds like very interesting case for modelling!

[2018-11-07 08:43] thea-m commented on #974
I agree that we cannot be sure about the binding, but that's why I'm not convinced either to add something like "Folder". Actually it is possible to have no `@form` at all, maybe we could do that (with a note) until someone has checked the situation at the library.
I would prefer having one record (with no `@form` for the record as a whole and `@form="Leaf"` for the single msParts) and then splitt

[2018-11-07 09:39] DariaElagina commented on #974
I agree with @thea-m, that would be a more economic variant in the sence of time.

[2018-11-07 10:50] thea-m opened #975 "person records created through the app"
Dear all,

there are still occasionally person records created through the app and pushed directly to github without being edited first (I just did it by accident as well - PRS12344WaldaS, see also PRS12301Gabra for example). Please try to remember to open, check and edit all records before pushing them to github, otherwise they will contain errors and, in cases where the transliterated name was a

[2018-11-07 11:05] thea-m opened #976 "Syntaxe du codex relations"
I could find no record that has used Syntaxe du codex relations to express the history of the manuscript where the graph is shown on the app (for example IVorlov20 or BDLaethf11). Are they all wrongly encoded or are there other problems with the app as well?

[2018-11-07 12:16] PietroLiuzzo commented on #976
it is broken.

[2018-11-08 06:15] PietroLiuzzo commented on #974
All this depends on getting the missing information, and I do not think any suggestion can be made at the moment. I think the encoding of this/these items needs to be paused until better knowledge can be gathered. perhaps we can email BL about this?

[2018-11-08 07:35] PietroLiuzzo commented on #976
it is now working again.
the sankey code from google charts needed to be updated in charts.xql
I also removed some dead dependencies from the javascript loaded in the head from apprest.xql
there was also still trace of the old sdc namespace, which I hope I have fixed, both in config.xql and in SdCtable.js and d3sparqlsettingsManuscripts.js

[2018-11-08 07:35] #976 closed

[2018-11-08 08:02] #935 closed

[2018-11-08 08:55] PietroLiuzzo commented on #813
I have added a render for this as a line above the ligatured letters.

monograms (which I thing are different from ligatures) can be encoded as abbreviations, so that the encoder is also able to avail himself of abbreviation marks and similar as in standard TEI.

however we do not render these yet.

[2018-11-08 10:41] PietroLiuzzo commented on #813
we now support abbreviations in standard TEI in the output and I have updated the previous PR to the guidelines with information about how to encode. I have also added a standard rendering with ()

[2018-11-08 10:44] PietroLiuzzo commented on #813
IMHO this issue can be closed...

[2018-11-08 10:46] PietroLiuzzo opened #977 "alpheios integration"
include embedded library in BM and use for querying the morpho parser and Dillmann

[2018-11-08 10:50] PietroLiuzzo opened #978 "DTS api review"
implement changes from
https://github.com/distributed-text-services/specifications/issues/129

[2018-11-08 11:55] PietroLiuzzo commented on #756
due to a problem with visualizing data in daria geobrowser the map view has been removed. This feature has not attracted any interest and is thus deferred until future interest rises

[2018-11-08 11:55] #756 closed

[2018-11-08 11:59] #975 closed

[2018-11-08 12:36] PietroLiuzzo commented on #977
There is here probably an issue with https, so, it is possible that it will have to wait a future release in a https world

[2018-11-08 13:05] #622 closed

[2018-11-08 13:07] PietroLiuzzo commented on #750
#966

[2018-11-08 13:07] PietroLiuzzo commented on #750
http://betamasaheft.eu/persons/list?mainname=&date-range=0%2C2000&cp=&occupation=ruler

[2018-11-08 13:11] eu-genia commented on #974
I agree, I have now written to Ilana Tahan (oriental mss curator), let us see if she can help, or I can ask Eyob Derillo, if he is still around the manuscripts there, to check and let us know.

[2018-11-08 13:23] PietroLiuzzo opened #979 "add in table view the wikidata id"
If there is a @sameAs this should be shown, with the wikidata box

[2018-11-09 07:23] #979 closed, assigned to PietroLiuzzo

[2018-11-09 07:26] PietroLiuzzo opened #980 "RDF for parts of work broken"
in a file like http://betamasaheft.eu/LIT2505Weddas statements of the type
[code]
return in the RDF something like

[code]

this should be made better, first of all for the absurd uri of the work, which should be a part of statement, and secondly because the statment has no connection to the model

[2018-11-09 08:57] thea-m commented on #970
Sorry for the late remark without having participated in the discussion, but from reading this discussion it is not yet clear to me

- whether slipcase and māḥdar are identical
- whether we encode the presence of a māḥdar in a decoNote in `<binding>`

(and unrelated to the codicology and its encoding...shouldn't māḥdar be marked up with `<foreign xml:lang="gez">` when written in text?)

Thank you!

[2018-11-09 10:18] thea-m opened #981 "add incipit and explicit to text search?"
Would it make sense to add incipit and explicit to the elements searched when running a search without selecting anything in indexes? They contain a lot of text that people might be likely to search for. If it's complicated or would slow the search down, let's leave it as it is

[2018-11-09 12:43] ElianaDalSasso commented on #970
Hi!At the moment is possible to encode a slipcase with a decoNote in `binding`, meaning māḥdar.
But, if it's not appropriate to describe a māḥdar as a slipcase, it would be better to encode it with its original name.
I don't know, I've found different terms: two parts leather slipcase, satchel, satchel-like slipcase.
Actually it's not clear to me if māḥdar is only the internal case while the exter

[2018-11-09 12:45] ElianaDalSasso commented on #972
Thank you @PietroLiuzzo!!
Sorry for the delay, I wrote to Ligatus and they are discussing the question, but there is not an answer yet. Shall we wait for it?

[2018-11-09 13:01] DenisNosnitsin1970 commented on #970
Please, no ethiopisn terms. We should find a neutral English term, even if it is not perfect at the end (but I would look for the most general, since there are several types of mahdärs, not all of them are "two-parts"). Similar devices are used in other manuscript cultures around (if you think of the Sudanic unbound Qurans etc.).

[2018-11-09 15:03] PietroLiuzzo commented on #981
adding indexes to the basic search certainly slows down the search, let's see how much... the change is live

[2018-11-09 15:03] #981 closed

[2018-11-12 09:22] DariaElagina commented on #971
The guidlines are updated.

[2018-11-12 09:22] #971 closed

[2018-11-12 09:54] thea-m commented on #813
Thank you!

[2018-11-12 09:54] #813 closed

[2018-11-12 10:38] thea-m opened #982 "keywords Apocrypha and Pseudoepigrapha"
We currently have the three keywords Apocrypha, Pseudoepigrapha and ApocryphaPseudoepigrapha. In the famous #175, Massimo suggested only using ApocryphaPseudoepigrapha ("1-2: "Apocrypha" and "Pseudoepigrapha" substantially reduplicate the same value as “ApocryphaPseudoepigrapha” and should be avoided for the sake of clarity and consistency. There is a terminological question around the use of Apoc

[2018-11-12 11:36] abausi commented on #982
At best, "Apocrpypha" will work as well and is the most widely used; "ApocryphaPseudoepigrapha" is very much OT oriented (there are no "Pseuedoepigrapha" in the narrow sense for the NT); I would also slightly change the definition, since the inclusion or not of some works is really a question of points of view and of accident as well, starting from the tradition we are most familiar with, so that

[2018-11-12 12:17] thea-m opened #983 "hagiography keyword for Miracles of Mary"
The keyword "Hagiography" has been inconsistently used with regard to the single miracles of Mary. I would be in favour of it, but the definition currently is "works containing the Vita of a saint, including the cycles of miracles performed etc." which might be too narrow to include the Miracles of Mary. What do you think?
(please ignore or deassign yourself if you feel this doesn't concern you)

[2018-11-12 12:41] abausi commented on #983
"Hagiography": this also cannot stay as it is; I take and slightly adapt from "The Oxford Dictionary of Byzantium":  "Hagiography, modern term for a genre of literature whose aims were the veneration of the saint and the creation of an ideal of Christian behavior as well as documentation and entertainment. As a protrayal of historical personages, hagiography overlaps with historiography, conveying

[2018-11-13 15:32] PietroLiuzzo opened #984 "new rules for div[edition] and div[bibliography]"
Dear all,

yesterday Dorothea found out several records which contained bibl directly as child of div[@type='edition'] in some works.

today I am finding (but I am rather sure it is not the first time I see this, so apologies if I am repeating something) that locus is used inside div[@type=edition]

While the first issue presented 16 cases, the second is more widespread.
http://betamasaheft.eu/xpa

[2018-11-13 16:02] PietroLiuzzo commented on #978
I have gone through each of the point of the initial comment of the review and fixed the error messages (the few already implemented in the code) and the other points.

[2018-11-13 16:31] thea-m commented on #984
As far as I see it, you can add these rules. I have used locus in transcription out of habit without thinking much, I'll correct it. Just one question: If the text I transcribed doesn't start at the beginning of the page (often they are small excerpts given by the catalogues), how would I encode this?
`<pb n="1r"><gap reason="ellipsis"/> my text starts here` ?
What about cases where we don't know

[2018-11-13 16:36] PietroLiuzzo commented on #978
Checked also the bugs in the further comments.

[2018-11-13 16:36] #978 closed

[2018-11-14 13:00] PietroLiuzzo commented on #837
the AS returns an empty box.
the place list returns only two, not all.

[2018-11-14 13:05] PietroLiuzzo commented on #837
app:tabots, called from formtabots.html works fine, so, it is either not reached or some parameter fails to be passed on. I am reindexing the db.

[2018-11-14 13:09] PietroLiuzzo commented on #838
There is now an issue with the function which handled this. titles:printTitleID($id)

[2018-11-14 13:09] PietroLiuzzo commented on #838
it is possible that there is regression also here.

[2018-11-14 15:44] #838 closed

[2018-11-14 18:29] thea-m opened #985 "print full language names in filters"
Maybe the full names of the languages could be printed in the language box whenever it is offered for filtering? They have become quite many and not all are easily decodable (I at least don't know what x-oh is...)

[2018-11-14 18:41] thea-m opened #986 "list institutions in shelfmark list alphabetically"
hoping for a small possibility that this is not related to #536... would it be possible to list the institutions in this list
http://betamasaheft.eu/manuscripts/browse
alphabetically? It would really improve the user friendliness

[2018-11-14 20:30] PietroLiuzzo commented on #986
good to know that that list at least is used... I will see if I can add tiny sort - table sort or similar to it.
Please note that for the list to load I am printing the titles after load, i.e. you might be able to sort, but after that has finished loading.

[2018-11-14 21:44] PietroLiuzzo commented on #985
a static list might be maintained for the lists

[2018-11-14 21:45] PietroLiuzzo commented on #986
since Institutions should not grow so steadily now that menestrel has been added, perhaps a static list of names for these lists would be preferable. run once, stored and used in the scripts instead of recalculating the name each time.

[2018-11-15 08:04] PietroLiuzzo commented on #837
And Tabot should have the long a!

[2018-11-15 08:06] PietroLiuzzo opened #987 "place type abbreviation ?!?!?!?!"

[2018-11-15 08:06] PietroLiuzzo commented on #987
see menu in places - repositories list

[2018-11-15 08:14] PietroLiuzzo opened #988 "pelagios related contents"
The box with pelagios relations appears twice.
the big M in Beta Masaheft should be small.

[2018-11-15 08:19] PietroLiuzzo opened #989 "update enriched TEI"
too many false links for example with prefix bm for eagle, etc. etc.

[2018-11-15 08:29] PietroLiuzzo commented on #804
redirect for msPart tested does not work as expected to point to url, it is instead passed to the p1 id

[2018-11-15 08:39] PietroLiuzzo commented on #840
this does not work anymore.

[2018-11-15 08:46] PietroLiuzzo commented on #851
this is not anymore there. why remains a mystery

[2018-11-15 08:55] PietroLiuzzo commented on #853
with the change of DTS implementation, the links now point (correctly?) to the DTS document url but from the website they should redirect to the text view, not to the dts api.

[2018-11-15 08:58] PietroLiuzzo commented on #859
this search does not work. this is almost certainly related to the tabot thing. saved changes seam not to survive rebooting.

[2018-11-15 09:02] PietroLiuzzo opened #990 "attestations trowing error"
javax.servlet.ServletException: javax.servlet.ServletException: An error occurred while processing request to /exist/apps/BetMas/api/attestations/person/PRS9038Susenyos: exerr:ERROR XPTY0004: The actual cardinality for parameter $date does not match the cardinality declared in the function's signature: zero or one. Expected cardinality: {3}, got {4}. [at line 123, column 30, source: /db/apps/BetMa

[2018-11-15 09:04] PietroLiuzzo opened #991 "sparql queries all broken because of space I changed already 10000 times in config.xql"
javax.servlet.ServletException: javax.servlet.ServletException: An error occurred while processing request to /exist/apps/BetMas/api/SPARQL/json: exerr:ERROR in SPARQL query: Lexical error at line 23, column 21.  Encountered: " " (32), after : "foaf" [at line 23, column 15]
In function:

[2018-11-15 09:05] PietroLiuzzo opened #992 "in the institution list view"
only few manuscriptS

[2018-11-15 09:07] PietroLiuzzo commented on #872
does not work, probably related to tabots and restoration issues

[2018-11-15 09:15] PietroLiuzzo opened #993 "add space between keywords in geojson"
(church,monastery) should be (church, monastery)

[2018-11-15 09:21] PietroLiuzzo commented on #929
attribution of contents has digitized by by ....

[2018-11-15 15:13] PietroLiuzzo commented on #837
This was linked to the issue of the titles module. This is now solved

[2018-11-15 15:13] #837 closed

[2018-11-15 16:11] #930 closed

[2018-11-15 18:44] PietroLiuzzo commented on #851
this is actually right in the attribution of contents box at the bottom, but is not in the box with the bibliography

Attributions of the contents
Digital text of edition ed1 based on Hommel, F. 1877. Die aethiopische Uebersetzung des Physiologus nach je einer Londoner, Pariser und Wiener Handschrift (Leipzig: J. C. Hinrichs’sche Buchhandlung, 1877)..
This file is licensed under the Creative Commo

[2018-11-15 19:48] #851 closed

[2018-11-15 20:11] #853 closed

[2018-11-15 21:04] #859 closed

[2018-11-16 06:07] PietroLiuzzo commented on #872
This happens, is however very slow, as all the list views.

[2018-11-16 06:07] #872 closed

[2018-11-16 06:12] #929 closed

[2018-11-16 06:16] PietroLiuzzo commented on #804
the redirect is there, is just not reached

[2018-11-16 06:45] #993 closed

[2018-11-16 06:49] #992 closed

[2018-11-16 06:53] PietroLiuzzo commented on #991
issue not there any more after reindexing

[2018-11-16 06:53] #991 closed

[2018-11-16 06:54] PietroLiuzzo commented on #990
this is thrown for Susenyos only in the testing

[2018-11-16 06:59] PietroLiuzzo commented on #990
problem is in a dated ancestor of an attestation

[2018-11-16 08:02] #988 closed

[2018-11-16 08:03] PietroLiuzzo opened #994 "move geobrowser viewer to separate tab"
this will avoid that the KML chart is produced each time the main view is hit.

[2018-11-16 10:33] PietroLiuzzo opened #995 "add list of scholars to separate page"
the app:scholars was loaded on the homepage, now is unused, it can be provided on a page of its own.

[2018-11-16 10:54] PietroLiuzzo opened #996 "schema / gitsync to check IDS"
The schema and the git syncing script should check that anchors are not the same as ids in the taxonomy.

for example that miracle is not used as xml:id for a text part

[2018-11-16 11:01] thea-m commented on #329
no one seems to be working on this anymore, in case of new related problems, new issues can be opened

[2018-11-16 11:01] #329 closed

[2018-11-16 11:07] thea-m commented on #629
@PietroLiuzzo ?

[2018-11-16 11:18] thea-m commented on #862
The situation is unchanged from the time that this issue has been written, does it make more sense to accept it or should the use be limited and the respective rules be added to the schema?

[2018-11-16 11:32] thea-m commented on #885
http://betamasaheft.eu/xpath?xpath=collection%28%27%2Fdb%2Fapps%2FBetMas%2Fdata%2Fmanuscripts%27%29%2F%2Ft%3AroleName%5Bnot%28parent%3A%3At%3ApersName%29%5D
now contains only BNFabb152 and Kopenhagen results for <roleName type="title"> outside of a persName element

[2018-11-16 11:35] thea-m commented on #966
@MargaretheJenner maybe this can be closed and new issues be opened for new cases

[2018-11-16 11:39] thea-m commented on #463
is this still relevant, @PietroLiuzzo ?

[2018-11-16 11:56] PietroLiuzzo commented on #629
Thanks for pinging me, 100% sure we want to link these. that the id 906 refers to is actually only a passage. I would then formulate the link from the passage to the passage.
<relation name="skos:exactMatch"
active="http://corpuscoranicum.de/kontexte/index/sure/1/vers/2/intertext/906"
passive="urn:dts:betmas:LIT1340EnochE:1.3-5"
/>

However, it does not seam to me that we are using the same citati

[2018-11-16 11:57] PietroLiuzzo commented on #629
I will have then to make sure that this is
- transferred to the RDF correctly
- that the id can be used as a URI

[2018-11-16 11:59] thea-m commented on #629
thank you, I will have a look at it

[2018-11-16 12:01] DenisNosnitsin1970 commented on #862
I think we should not add more rules. Sometimes there is indeed a need to refer to the catalogue of a manuscript exactly in the record for this manuscript (there are some descriptions spread over many pages, where the cataloguer makes specific statements etc.). Hopefully everyone understands that this way of referring should not be overused.

[2018-11-16 12:03] PietroLiuzzo commented on #862
yes, but in that case it would not be a `listBibl[@type="catalogue"]`, it should be `listBibl[@type="secondary"]` anyway. in the semantic of the TEI this is just incorrect.

I will
- [ ] add a rule to the schema preventing the use of catalogue in works and of edition in manuscript records
- [ ] analyse the files where this happens and fix them where this is possible.

[2018-11-16 12:05] PietroLiuzzo commented on #885
these have all been tagged by me and I will correct them.

[2018-11-16 12:06] #966 closed

[2018-11-16 12:06] #463 closed

[2018-11-16 12:11] #344 closed

[2018-11-16 12:11] #437 closed

[2018-11-16 12:13] PietroLiuzzo commented on #436
killing this idea as not interesting to anyone

[2018-11-16 12:13] #436 closed

[2018-11-16 12:14] PietroLiuzzo commented on #566
a use case would be needed, although some development has been put in place the only task remaining here is to
- [ ] delete dead ends on this point

[2018-11-16 12:16] PietroLiuzzo commented on #752
this would have a relevance for Dillmann, not here.

[2018-11-16 12:20] PietroLiuzzo commented on #962
closed by http://betamasaheft.eu/Guidelines/?id=letters

[2018-11-16 12:20] #962 closed

[2018-11-16 18:56] thea-m opened #997 "http://betamasaheft.eu/persons/PRS4711Giyorgis/analytic"
http://betamasaheft.eu/persons/PRS4711Giyorgis/analytic doesn*t work

[2018-11-19 09:54] PietroLiuzzo opened #998 "/decorations search fails to load"
locally this works well as additions and bindings. on the server it times out.

[2018-11-19 11:27] thea-m opened #999 "bibliographic references for translations into different languages"
In the cases where translations of one work into several languages are available, this is sometimes encoded in a single `listBibl type="translation"`, simply listing each translation in one `<bibl>`, and sometimes in separate `listBibl type="translation"`, as in LIT3928Miracle:

[code]

[code]

Are both ways fine or should we stick to one? The language indication in the latter is not visualized on

[2018-11-19 11:33] PietroLiuzzo commented on #999
that @xml:lang is neither about the language of the bibliographic entry or more in general the language of the list of bibliographic entries, if it is meant to mean the language of the translation I would be inclined to think it is simply wrong. especially so since I cannot find this in the guidelines anywhere.

[2018-11-19 11:35] thea-m commented on #999
Neither can I. I assumed it indicated the language of the translation, but I don't really think that is very necessary information

[2018-11-19 11:36] PietroLiuzzo commented on #999
there are more then 250 of these listBibl with a @xml:lang. rather painful. perhaps somebody could cime in to tell everyone what they intended doing?

[2018-11-19 11:37] PietroLiuzzo commented on #999
@eu-genia @DenisNosnitsin1970 @DariaElagina @MassimoVilla

[2018-11-19 12:10] #995 closed

[2018-11-20 10:48] PietroLiuzzo commented on #999
it does no harm, is only wrong, no need to fix, if we want to fix I will fix all in one go. but if it was done, there must have been a reason, and if there was a reason perhaps there is a purpose...

[2018-11-20 13:04] #998 closed

[2018-11-21 08:37] PietroLiuzzo commented on #986
<img width="847" alt="schermata 2018-11-21 alle 09 37 19" src="https://user-images.githubusercontent.com/508012/48828846-19847a80-ed71-11e8-89f4-b90a8b8cf9ca.png">

[2018-11-21 08:47] PietroLiuzzo opened #1000 "RS1234 in ref attrinbutes"
We need a rule in the schema preventing the use in ref of partial ids, like trunkated copy pasted stuff like

RS1234pietro instead of PRS1234pietro and similar

[2018-11-21 08:49] PietroLiuzzo commented on #1000
additionally empty
                    `<persName/>`  in  `<person/>`  should also be avoided and can be controlled by the schema

[2018-11-21 08:59] thea-m commented on #986
looks good, thank you!

[2018-11-21 09:00] PietroLiuzzo commented on #986
Thanks for closing this, I am not yet done with all the consequences this has on the rest of the code.

[2018-11-21 09:21] #986 closed

[2018-11-21 09:56] #985 closed

[2018-11-21 10:01] PietroLiuzzo commented on #1000
yes, I badly wanted to open issue 1000 !

[2018-11-21 10:31] larkvi commented on #970
I have not had enough time to really follow up on this, but I have looked a bit more closely, and I think there is a better answer. LoB defines [slipcase ](http://www.ligatus.org.uk/lob/concept/4466)  in a way that specifically and exclusively refers to the type of case that is commonly understood by that term ([example](https://www.tbclrarebooks.com/pictures/31515.jpg?v=1317445033)), effectively

[2018-11-21 11:07] PietroLiuzzo commented on #989
updated this refs and the editors file

[2018-11-21 11:07] #989 closed

[2018-11-21 12:10] #980 closed

[2018-11-21 12:52] PietroLiuzzo commented on #1000
added three tests for placeName[@ref], persName[@ref] and title[@ref]

[2018-11-21 20:19] PietroLiuzzo commented on #996
This is better checked in the gitsync, so that it is checked to the latest taxonomy. In the guidelines I am adding a paragraph to say that it is to be avoided the use of anchors which are the same as taxonomy values.

[2018-11-21 20:39] PietroLiuzzo commented on #862
There is no case of `listBibl[@type='edition'] `in manuscripts.
There are in total 39 cases of `listBibl[@type='catalogue'] ` in works.
can anyone look at them to fix this?
http://betamasaheft.eu/xpath?xpath=collection%28%27%2Fdb%2Fapps%2FBetMas%2Fdata%2Fworks%27%29%2F%2Ft%3AlistBibl%5B%40type%3D%27catalogue%27%5D

[2018-11-21 20:51] PietroLiuzzo commented on #984
rules added to the schema (not live yet!)
The example is here a bit too vague for me, sorry. In general I would avoid trying to be specific about something I do not know, so, I would not use gap, I would just give the div, pb and cb which are certain and then copy the text where it belongs. The true statement is that it occurs after that page break.

[2018-11-21 21:10] PietroLiuzzo commented on #999
and these 250 with xml:lang are many more than the 84 without it.
I have stubbed a miniparagraph about the fact that this is not necessary
https://github.com/BetaMasaheft/guidelines/pull/9
and I have changed the example in the guidelines

[2018-11-22 06:18] #1000 closed

[2018-11-22 07:39] #994 closed

[2018-11-22 08:33] #744 closed

[2018-11-22 10:19] PietroLiuzzo opened #1001 "search with '"
users keep searching for ' although information is given not to do so. the input form should stop that by validating the input.

[2018-11-22 10:33] thea-m commented on #999
Thank you! Most of those with xml:lang are anyway Miracles of Mary, which were probably copy pasted
Sorry, just to clear my confusion, where is it in the schema and guidelines? (I see your new paragraph, but nothing else and no changed example)

[2018-11-22 10:34] PietroLiuzzo commented on #999
The example I changed is here, where the one with the xml:lang was substituted. is an example in the schema.
http://betamasaheft.eu/Guidelines/?id=listBibl

[2018-11-22 10:38] thea-m commented on #984
Thank you!

[2018-11-22 10:50] thea-m commented on #999
thank you!

[2018-11-22 10:50] #999 closed

[2018-11-22 11:01] thea-m commented on #984
Sorry for overenthusiastic closing... Here there is an example:
in BNFet117, how would I encode the excerpt given in the catalogue as being on 15v-16v (https://archive.org/details/manuscritsorient00bibl/page/138)? (LanguagesNoah in the record) A part from the fact that I don't whether the text begins directly after the page break on 15v, I have the information that it ends on 16v, but would not kn

[2018-11-22 11:03] #1001 closed

[2018-11-22 11:06] PietroLiuzzo commented on #984
the wonders of imprecision...
perhaps avoid the nesting of msItems which are not actually Textual Units, and refer to the excerpt with a locus from the actual msItem it is part of. yes, you can point to the id of a div and avoid al together to try and reproduce the pb, cb or div by folia description in the div[@type='edition']

[2018-11-22 11:18] thea-m commented on #984
That's why I didn't create those msItems in the first place...the locus from the one it is part of is `from="1r"`, which is even more imprecise than the current locus indication in the div. Would I then write  a note in this msItem referring the excerpt's xml:id and with the more precise locus?

[2018-11-22 11:21] thea-m commented on #982
I have added this definition to the schema, should "Pseudoepigrapha" and "ApocryphaPseudoepigrapha" be deleted now? This will lead to many invalid records, obviously.

[2018-11-22 11:29] thea-m commented on #982
Yes, @abausi,  that's what I understood and why I unassigned you from this discussion. My current question was more regarding the technical workflow. Thank you!

[2018-11-22 11:44] PietroLiuzzo commented on #982
@thea-m could you please commit the changes to the schema? thanks

[2018-11-22 12:20] #982 closed

[2018-11-22 12:29] #405 closed

[2018-11-22 12:29] thea-m commented on #862
I can look at the catalogues in work records and fix them.
There are, however, 289 `listBibl[@type='editions']` in manuscripts :) I have used this when an edition uses the respective manuscript. Is this also wrong?
And why do you want to prevent `listBibl[@type="secondary"]` in manuscript records?

[2018-11-22 12:35] thea-m commented on #372
I don't think we have examples yet, but I will work on a scroll sometime in the next weeks, maybe we can use that one then as an example

[2018-11-22 12:38] PietroLiuzzo commented on #862
We have fixed the edition/editionS problem http://betamasaheft.eu/Guidelines/?id=listBibl

[2018-11-22 12:38] PietroLiuzzo commented on #862
also secondary was a mistake in my previous comment

[2018-11-22 12:39] PietroLiuzzo commented on #862
the 289 are an issue, but not a urgent one I would say. the information you are giving belongs to the `<listWit>` of the work record.

[2018-11-22 12:40] thea-m commented on #870
@DenisNosnitsin1970 @eu-genia @DariaElagina @sologebre

[2018-11-22 12:43] thea-m commented on #862
The editions should be anyway present in the work records, but we do not use <listWit> much anymore, because the manuscripts containing the work are shown on the app anyway.

[2018-11-22 12:51] thea-m commented on #677
I think that this can be closed. Here are the relevant guideline pages for reference:
http://betamasaheft.eu/Guidelines/?id=transliteration-principles
http://betamasaheft.eu/Guidelines/?id=dubious-spelling
As always, new issues should be open for any particular new uncertain cases

[2018-11-22 12:51] #677 closed

[2018-11-22 12:53] thea-m commented on #694
@PietroLiuzzo do you remember what this is about?

[2018-11-22 12:56] thea-m commented on #725
@sologebre @PietroLiuzzo ?

[2018-11-22 13:00] thea-m commented on #823
@sologebre ?

[2018-11-22 14:02] sologebre commented on #823
It is adjusted accordingly

[2018-11-22 14:02] #823 closed

[2018-11-22 16:51] DenisNosnitsin1970 commented on #888
Dear Jacopo,
we should keep the definition between "frame" (fig. 1, or here http://www.bl.uk/onlinegallery/ttp/ethiopic/accessible/pages2and3.html#content) and "band" (fig. 2). This is important. Actually I wonder if also the term "headpiece" can be applied to both.
![1 qds-003_011 ornamental frame](https://user-images.githubusercontent.com/18533839/48914573-23df6b00-ee7c-11e8-885d-afd5fc87768c.JP

[2018-11-22 20:45] #725 closed

[2018-11-22 20:47] #627 closed

[2018-11-22 20:49] PietroLiuzzo commented on #694
no

[2018-11-22 20:49] #694 closed

[2018-11-22 20:53] PietroLiuzzo commented on #862
the list of manuscripts containing a work and the list of witnesses used for an edition are two different things. The first picks up whatever information is available, it might be less or more then we actually know at the moment. the listWit contains instead a statement, which can be nested about the manuscripts used for an edition and might contain also manuscripts which we do not yet have.
let's

[2018-11-22 21:00] #749 closed

[2018-11-22 21:07] PietroLiuzzo commented on #713
added this note to the manuscripts wiki and added the links in the two records above.
https://github.com/BetaMasaheft/Manuscripts/wiki/List-of-digitized-Ethiopic-manuscripts-available-online

[2018-11-23 12:54] #862 closed

[2018-11-23 15:17] Gnisci commented on #888
Dear Denis,

Thank you for stimulating an interesting discussion. I do see some advantages, as I noted previously, in retaining _frame_ for borders that delimit more than one side of the text. Frames are, as you say, much less common, so I think there is value in singling them out.

I don't see the advantage of retaining "_headpiece_" as a synonim of _band_. Though I would differentiate between th

[2018-11-23 16:47] DenisNosnitsin1970 commented on #888
I thought "headpiece" with further specification (headpiece: band or headpiece: frame) because it relates to the decoration of an incipit page. Further bands which mark separation of parts of the text are not headpieces, but just bands (fig. 1
![59c sahelo hymnody ms sdmm-macro_0030](https://user-images.githubusercontent.com/18533839/48953865-8f423f00-ef47-11e8-8b2b-f0a0c87d59f6.JPG)

![11 gwahter

[2018-11-26 10:59] DenisNosnitsin1970 commented on #888
"Marginal illustrations/miniatures/drawings" makes sense for images which are truly painted in the margins.  This is what is meant above with the string: "marginal. A small miniature painted next to one of the margins of the text." but we need one more word in addition to "marginal", don't we? As I understand, such an image is not  "planned" by the craftsman from the very beginning and is not calc

[2018-11-26 11:12] eu-genia commented on #888
the question of "planned" or not is a different one - any type of image can be added later, a full-page illumination, a harag, anything, not only "marginal" (the above examples surely are not marginal...)
do we need a standard way to encode original vs inserted decoration? or should we use a sdc relation for the added ones? (it might be difficult to be consequent, esp. when there are many decoNote

[2018-11-26 16:52] Gnisci commented on #888
I think @eu-genia  is right when she says that:

@DenisNosnitsin1970 , thanks for comments. Headpiece with two specifications (band or frame) seems also viable to me.

I would also not define the small crosses in the margin of the third example as "illustrations". "Marginal elements"  or "marginal decorations" perhaps?

I would not consider your last example a "marginal" illustration, but more as

[2018-11-27 08:50] thea-m opened #1002 "syriaca comment in clavis"
in LIT3611Miracle, there is in the clavis bibliography:
[code]
The poncelet number refers, I suppose, to this item: http://csm.mml.ox.ac.uk/index.php?p=pon_view&rec=9, but I cannot find any related work on syriaca. Did I miss it or is there some copy paste error here? Do you maybe remember something about this, @MassimoVilla ? Thank you!

[2018-11-27 08:56] MassimoVilla commented on #1002
I am quite sure I have not added that information. The whole "Miracles of Mary" cycle was meant to receive a further and systematic full description/revision at a later stage, and I have not added any reference from other traditions.

[2018-11-27 08:58] thea-m commented on #1002
Ok, thanks a lot!

[2018-11-27 08:59] thea-m commented on #1002
@DenisNosnitsin1970 did you work on this record? I'm quite sure I didn't add this either...

[2018-11-27 09:04] DenisNosnitsin1970 commented on #1002
No, I haven't add this.

[2018-11-27 09:43] thea-m opened #1003 "Encoding of supplications"
Maybe we can split the supplication issue from #946 :

Do you have any suggestions for this, @PietroLiuzzo ? I think that we need to be able to mark up supplications both within the text (whether a title, addition, div type edition or whatever) as well as refer to their existence in cases where we have no transcribed text.

@nafisa-valieva also might have more requirements related to differentiati

[2018-11-27 09:45] #1002 closed

[2018-11-27 09:51] PietroLiuzzo commented on #984
I am not sure if this can be closed @thea-m

[2018-11-27 09:56] thea-m commented on #1002
thank you! So no syriaca and KRZ were involved?

[2018-11-27 09:58] thea-m opened #1004 "visualization of link in relation"
In http://betamasaheft.eu/works/LIT3611Miracle/main, the link to CSM in the skos:exactMatch relation is not visualized in the main entry (works well in the relations page)

[2018-11-27 09:59] PietroLiuzzo commented on #1002
No, I tried to explain what happened in the comments to the commit with the changes.

[2018-11-27 10:12] PietroLiuzzo commented on #629
if it works we should document this in the GL

[2018-11-27 10:17] PietroLiuzzo commented on #870
can we close this ?

[2018-11-27 10:33] PietroLiuzzo commented on #917
The document needs to be integrated in the GL if it has to be of any relevance to the encoding practices in the project. Please @DenisNosnitsin1970 could you have a go at updating taxonomies and guidelines for this issue, so that we can hopefully close it as it has already been discussed and agreed?

[2018-11-27 10:34] DenisNosnitsin1970 commented on #883
I think there should be an possibility to indicate that the person is a "saint" (i.e. possesses some features of a saint  and enjoys veneration in one way or another). I do not percept the records too literally anyway, so occupation -  "saint" or "prophet" is ok for me.

[2018-11-27 10:34] thea-m commented on #883
I agree regarding the ridiculousness (by now we have become too used to it), and person types and using them as keywords sounds good to me. (I find 126 times "saint" in occupation though...but these could then presumabely be converted). I don't think it's urgent either.
Any suggestions for other occupations that should be changed to a person type?

[2018-11-27 10:34] PietroLiuzzo commented on #923
Please update the schema and the guidelines to contribute to close this issue, we can discuss the proposal in the next meeting

[2018-11-27 10:36] thea-m commented on #883
We should maybe keep in mind that external users will always take the records literally at a first glance and might not return if our terminology seems too exotic

[2018-11-27 10:37] PietroLiuzzo commented on #883
storing that information in keyword instead of occupation is semantically more correct and preferable.
@thea-m would you like to update the taxonomy? when it is there I can work on the data, and will check again the numbers.

[2018-11-27 10:38] PietroLiuzzo commented on #883
If users are not happy with the data, they should edit it. I will add a link to the GitHub repository from each item so that it is clear on each page that people can (and should) contribute.

[2018-11-27 10:40] thea-m commented on #883
I'll do it

[2018-11-27 10:48] nafisa-valieva commented on #1003
I am not sure whether it is possible and therefore correct to differentiate between all these cases for each individual manuscript.
What means clearly separated? And how someome is going to decide whether the supplication is present only in one manuscript?

The same question is true for how to understand whether it is part of the work (limited evidence: all manuscripts, but then in each case one h

[2018-11-27 10:50] PietroLiuzzo commented on #883
Thank you very much, I would start with the three above only.

[2018-11-27 10:59] PietroLiuzzo commented on #945
was this discussed ? does it need further updating in the schema?

[2018-11-27 11:03] DenisNosnitsin1970 commented on #945
I am looking into the document again.

[2018-11-27 11:15] thea-m commented on #945
We did not have time in the meeting to discuss this (all that was discussed can be found in #946 ), it is still open

[2018-11-27 11:19] thea-m commented on #945
I think that there should again be a specific meeting for this topic, possibly also with @antobrita , integrating it into the general meeting might be too much

[2018-11-27 11:19] PietroLiuzzo commented on #946
I believe, if this has already been discussed it should make its way to a proposal for and updated in the guidelines, please someone take on this task and self assign.

[2018-11-27 11:48] thea-m opened #1005 "visualization of bibliographic references with more than one citedRange"
in `<bibl>`s with more than one `citedRange`, the value of each `@unit` are visualized one after the other, followed by the contents of both elements:
[code]
becomes

(LIT3725Miracle)

Would it be possible have each element visualized separatedly, "item 65, page 241-243"?

[2018-11-27 12:08] antobrita commented on #945
If you want to have an additional meeting on the topic of titles with
me, I will be happy to join.

Just to let you know, the coming Friday afternoon and Saturday morning
we will have a workshop entitled "Labels, titles and names of MTMs" at
the CSMC to which you are all invited (if you have time and want to
come). You can find the outline, programme and abstracts at the
following link:

https://w

[2018-11-27 12:38] PietroLiuzzo commented on #883
![schermata 2018-11-27 alle 13 38 29](https://user-images.githubusercontent.com/508012/49082310-bf405980-f249-11e8-952d-cad11d534618.png)

[2018-11-27 12:49] PietroLiuzzo commented on #888
We definitely need to summarize this in a proposal for the schema and guidelines, it is for me impossible to summarise the changes to be made. Please make a proposal as in https://github.com/BetaMasaheft/Documentation/issues/888#issuecomment-414643767 with a list with definitions and links to the examples for each. please make sure those link show what you want, not a dead landing page. If possibl

[2018-11-27 12:53] DenisNosnitsin1970 commented on #917
OK, i can do this.

[2018-11-27 12:56] PietroLiuzzo commented on #917
Thank you very much!

[2018-11-27 19:03] DenisNosnitsin1970 commented on #888
Jacopo, when Maniaci speaks about possible positions of miniatures on the page including the "columnar miniatures", she means, at least in my opinion, only "planned miniatures".  In this sense she also has "marginal miniatures". I think we could use both.
I think the miniatures occupying one full column (as in Maniaci's book) are very rare, I attach an example close to "columnar miniature".  It is

[2018-11-27 19:42] eu-genia commented on #888
@DenisNosnitsin1970 I believe "planned" vs "unplanned" is a different category as I tried to say. One thing is layout/position, another is whether the illustration belongs to the basic stratum or to an additional one. Let us not confuse things. Columnar, marginal, full-page, intercolumn - or to take examples from the list above, band, vignette, engraving - any of these can belong to either the mai

[2018-11-27 20:34] PietroLiuzzo commented on #888
As stated above, I would really like a summary of the definitions to be added to the schema for use in decoNote, the one above was fine, if it needs updating. Remember that we can have as many values as we want, in as far as they help you filtering the information you want.

If there will be cases of encoding where there is a need to define decoration units and their relation to the stratigraphy o

[2018-11-27 21:05] eu-genia commented on #888
how about adding the value "added" or similar to the list so that one could have "marginal" but also "marginal added" etc. when it is clear that it was inserted later.

[2018-11-28 08:45] thea-m commented on #629
Regarding the citation structure of the example from the book of Enoch: We use the same text as reference, but in our records we have the division into books and chapters, while they use the chapters (not the books) and also follow the verse numbering given in the translation (and in the edition on the top of the pages, but not within the text, which is a photographed manuscript). So their 1.3-5 i

[2018-11-28 08:47] PietroLiuzzo commented on #629
Fro my point of view this is a meaningful link from their collection of passages to our full text, not viceversa. The pointer can then only point to the div and should be a broadMatch, not exactMatch, IMHO.

[2018-11-28 08:47] thea-m commented on #629
it would not be an exact match then, is it broadMatch?

[2018-11-28 08:48] thea-m commented on #629
makes sense, thank you!

[2018-11-28 09:51] thea-m commented on #629
for works whose text we don't have, should the relations be added in the general listRelation in div bibliography?
[code]
and this be repeated for all intertexts relating to this work?

[2018-11-28 10:05] PietroLiuzzo commented on #629
`listRelation` needs not to be in `div[@type='bibliography']`.
yes, the relation in this way looks fine to me, we will be able to update it in the future if we happen to get that text. schade that there is no skos:VERYbroadMatch ...

[2018-11-28 10:07] thea-m commented on #629
yes, but that's where it is in that file, it's not necessary to move it or to open a new listRelation?

[2018-11-28 11:12] PietroLiuzzo commented on #629
in the commit above, the app will now redirect correctly encoded uris like the one which will be in the relation table for urn
http://betamasaheft.eu/urn:dts:betmas:LIT1340EnochE:1.3
will redirect in 3.2 to
http://betamasaheft.eu/works/LIT1340EnochE/text?start=1
in case no header is set. if the json-LD accept request header is set, it will redirect to the DTS collection API, i.e.
http://betamasahe

[2018-11-28 11:34] thea-m opened #1006 "Ascension of Isaiah text"
Is the text given in LIT1671Isaiah the same as https://m.tau.ac.il/~hacohen/AscJes/AscJesp%201.html? I am a little bit confused only because of the added chapter indications ("ክፍል ፡ ፩ ።"), which are not present in the edition. And I assume that they only had chapters 1-5 copied, not the entire text?

[2018-11-28 12:15] PietroLiuzzo commented on #1006
I do not know if the word file sent in 2017 is derived from the images you link to

[2018-11-29 10:20] #1005 closed

[2018-11-30 09:38] PietroLiuzzo opened #1007 "in the place list there are also institutions, the link is wrong and should be redirected"
INS0017UR should link to manuscripts/INS00/list not to places/INS000/list

[2018-11-30 09:39] PietroLiuzzo opened #1008 "keyword list in filters has got the three counting values from range indexs"
$count[1] ! cont all $count! in app:rangeIndex

[2018-11-30 09:55] PietroLiuzzo opened #1009 "when clicking the show full text button the navigation bar shrinks to the right. it should simply disappear"
use jquery on click of show full text button to remove entirely the navigation on click

[2018-11-30 13:42] #1007 closed

[2018-11-30 14:00] #1008 closed

[2018-11-30 14:13] #1009 closed

[2018-12-01 16:04] DenisNosnitsin1970 commented on #972
I do.

[2018-12-01 16:05] DenisNosnitsin1970 commented on #972
I assume there will be no objections from the others.

[2018-12-03 09:53] thea-m commented on #629
for my part, this can be closed, @PietroLiuzzo ?

[2018-12-03 12:37] #984 closed

[2018-12-03 17:03] DenisNosnitsin1970 commented on #972
Dear Eliana, would you mind compiling short clarifications for "leafStringMark"/"leafTabMark", to be included into the guidelines (with the images above as examples)? Then we would finish it and properly close the issue.

[2018-12-04 16:34] thea-m opened #1010 "geez text does not link to Dillmann anymore"
Text marked up as Geez does not link to Dillmann on the app anymore
for example here http://betamasaheft.eu/manuscripts/BNFabb66/text
or http://betamasaheft.eu/works/LIT3122Galaw/text

[2018-12-04 17:27] thea-m opened #1011 "visualization of bibliography in physical description"
for example in http://betamasaheft.eu/manuscripts/BDLbruce93/main:
The rubric "Secondary Bibliography" in the visualization of the `<listBibl type="secondary">`s in `<physDesc>` (in this case, `<foliation>` and `<binding>`) is printed in a way which can mislead users to take it as the bibliography for the entire record, not this particular element. Would it be possible to print it in a smaller fon

[2018-12-04 18:44] #1010 closed

[2018-12-05 05:47] PietroLiuzzo commented on #1011
What about removing those headers there?
See screenshot, I have also removed the dots in favour of a cleaner indentation
![schermata 2018-12-05 alle 06 46 18](https://user-images.githubusercontent.com/508012/49492684-9297cd80-f859-11e8-8acc-fb1b5efc18f1.png)

[2018-12-05 05:48] PietroLiuzzo commented on #1011
btw: why three times the same book instead of several `<citedRange>` ?

[2018-12-05 06:01] PietroLiuzzo commented on #372
sounds like a good plan. thanks

[2018-12-05 14:01] thea-m commented on #1011
thank you, much better! and yes, you're right

[2018-12-05 16:32] thea-m opened #1012 "<pb> not visualized"
`<pb>` in encoded text seems not to be visualized anymore, for example http://betamasaheft.eu/manuscripts/BLorient719/text or http://betamasaheft.eu/manuscripts/EMML6952/text

[2018-12-06 08:59] #1011 closed

[2018-12-06 11:40] thea-m opened #1013 "spelling of Beta maṣāḥəft in <publisher> in new records"
In records created through the app, Beta maṣāḥəft is spelled beta maṣāḥəft in the `<publisher>` element, in the other records it's correctly Beta maṣāḥəft (I don't remember, maybe it was already once corrected everywhere)

[2018-12-06 11:44] thea-m opened #1014 "listBibl type="editions" in person and place records"
Shouldn't `<listBibl type="editions">` and `<listBibl type="translation">` in person and place records in fact also be `<listBibl type="secondary">`? They are not really editions and translations of a certain person or place

[2018-12-06 12:00] PietroLiuzzo commented on #1013
The commit fixes the small b in the script. I am now going to fix the data

[2018-12-06 12:21] PietroLiuzzo commented on #1013
This has been updated in all repositories, BUT, to avoid killing the application by sending for transformation to RDF with the hook more then 8000 files, I have turned off for persons and manuscript the hook when doing the commit. So, these files will be updated from the repository only with the new release, but do not worry, the big B is there in the data.

[2018-12-06 12:53] PietroLiuzzo commented on #1012
It was realized with a pipe, but the absence of further specification does not make it very clear.
There is no change since last releases in the XSLT template for this but I do have screenshots taken when this was there. I have added back the pb/@n as a superlinear number after the pipe
https://github.com/BetaMasaheft/BetMas/commit/2d5cc1d6cb1344d44a9640d542f8e84f82ddb256

[2018-12-06 12:53] #1012 closed

[2018-12-07 10:01] PietroLiuzzo opened #1015 "deleted data should actually be saved and redirected"
on a delete action the application should store the deleted data in a separate folder.
if the query hits that id, controller.xql should respond with an appropriate code (301 moved permanently?)

[2018-12-07 10:02] PietroLiuzzo commented on #1015
WHY: FAIR principles say that metadata are accessible, even when the data are no longer available

[2018-12-07 11:38] thea-m opened #1016 "catalogue view small error?"
not very major, but in the catalogue view http://betamasaheft.eu/catalogues/list, it seems like before d'Abbadies catalogue, there is an empty line to which 3 manuscripts belong. Presumably we did something wrong in the data

[2018-12-07 11:42] PietroLiuzzo commented on #1016
these three record http://betamasaheft.eu/catalogues/EMML11/list
point to a phantom catalogue in the Ethio studies Group library which should have tag bm:EMML11

[2018-12-10 09:05] thea-m commented on #1016
As far as I know, this catalogue is not published, so I cannot create the corresponding zotero entry

[2018-12-12 10:32] thea-m opened #1017 "transliteration ʾElyās"
Should it be ʾElyās or ʾEləyās? Both forms have been used.
Thank you!

[2018-12-17 03:50] Gnisci commented on #553
https://www.loc.gov/search/?fa=partof:manuscripts+in+the+libraries+of+the+greek+and+armenian+patriarchates+in+jerusalem:+microfilm+5017:+ethiopic&q=ethiopic&st=gallery

[2018-12-17 08:10] thea-m commented on #553
Thank you, @Gnisci ! Added to the page.

[2018-12-17 12:22] thea-m commented on #1013
It's still beta maṣāḥǝft in new work records...not sure whether it was meant to be already corrected or will be fixed in the new release

[2018-12-17 13:16] PietroLiuzzo commented on #1013
Please see above. I should have added release with code freeze. Sorry

[2018-12-17 13:16] #1013 closed

[2018-12-18 15:04] thea-m opened #1018 "typo guidelines"
In the very welcoming welcome message here:
http://betamasaheft.eu/Guidelines/
"Schema" is once written with a capital and a few words later not, and "practitiones" should be practitioners.
Thank you!
(Sorry if I could have edited it, I didn't find this page)

[2018-12-18 15:35] thea-m commented on #1018
Thank you! I'm sorry, I just saw it now: mainteined should be maintained...

[2018-12-18 15:38] PietroLiuzzo commented on #1018
thank you, I fixed that as well, this is not a page in the data, is hard coded as back up if nothing else is selected

[2018-12-18 15:38] #1018 closed

[2018-12-20 23:11] smaugustine opened #1109 "Valid JSON API URIs"
According to the proper [JSON API specification](https://jsonapi.org), a valid URI should be `https://example.com/api/<type>/<id>`. Since the Beta Metsaheft URLs follow the pattern `https://example.com/api/<id>/json`, they cause other APIs which attempt to establish relationships to Beta Metsaheft to become invalid, since, following the specification, the relationship would be specified:
[code]
Fo

[2018-12-22 16:24] thea-m opened #1019 "apps don't work"
this is not urgent :)
BM and Dillmann don't seem to be working now, I get

[2018-12-22 21:50] PietroLiuzzo commented on #1019
thanks for the notification. I have started a recovery process. this is however not an issue which belongs here.

[2018-12-22 21:50] #1019 closed

[2019-01-07 08:54] thea-m opened #1020 "error PRS12342AsmaG"
There is a problem with http://betamasaheft.eu/persons/PRS12342AsmaG/main (in http://betamasaheft.eu/manuscripts/BLorient655/main, whose scribe he is, the ID is also rendered as  "More then 1 PRS12342AsmaG"):

[2019-01-07 08:56] thea-m opened #1021 "typo"
"More then 1 ..." in the error report as in #1020 should be "than" :)
Thank you!

[2019-01-07 09:19] #1020 closed

[2019-01-07 09:46] #1021 closed

[2019-01-07 09:48] PietroLiuzzo commented on #1016
I am going to comment out the information

[2019-01-07 09:49] #1016 closed

[2019-01-07 10:31] thea-m opened #1022 "intro text on the website"
In the project introduction on the homepage (in the green box), shouldn't the last sentence be "It aims at creating a virtual research environment that shall manage complex data related to THE predominantly Christian manuscript tradition of the Ethiopian and Eritrean Highlands."?
(or "It creates....that manages..."?)

[2019-01-07 10:41] #1022 closed

[2019-01-07 10:51] thea-m opened #1023 "search keyboard"
I cannot close the keyboard after clicking on it (both next to the search field on the homepage and in the advanced search), and I also don't manage to actually search for words that I enter through it. CLicking enter doesn't do anything and clicking on accept or cancel just opens a new search line. Am I missing something obvious?
![image](https://user-images.githubusercontent.com/19650382/5076417

[2019-01-07 10:54] PietroLiuzzo commented on #1023
no, it is a bug introduced with a change to speed up page loading. I will have to look into it.

[2019-01-07 13:09] eu-genia opened #1024 "entry in institution equal to places"
@PietroLiuzzo , I believe the new entry INS0521BetaMadhaneAlem is a doublet for LOC1888BetaMa, INS0523BetaMarqoreos is the same as LOC1889BetaMa

[2019-01-07 13:11] PietroLiuzzo commented on #1024
feel free to correct the data making sure that links to ids are preserved in all cases. It was not possible to identify those with certainty when we created the entry.

[2019-01-07 13:13] eu-genia commented on #1024
also INS0520BetaEmmanuel already exists in places as LOC1877BetaAm
INS0519Beta_Libanos is LOC1876BetaAb
INS0518MotaGiorgis is LOC4876MotaGi

[2019-01-08 10:40] abausi commented on #1017
As a default form, I would be in favour of "ʾElyās"

[2019-01-08 10:42] thea-m commented on #1017
Thank you!

[2019-01-08 10:42] #1017 closed

[2019-01-09 09:45] thea-m opened #1025 "rendering of marked up place and person names"
It seems to me that there are some issues in the rendering of marked up place/person names on the app. Are place names supposed to link to Dillmann and not the respective place record?
 In any case, in some cases in the chronicle of Bakaffa, marked up place and person names don't link anywhere and also seem to hinder the linking of the words following them to Dillmann (In Paragraph 16 of LIT4633Ch

[2019-01-09 14:44] thea-m opened #1026 "transliteration bəʾsi"
We have mainly bəʾəsi/t until now (there are not many occurences), but it should probably be bəʾsi/t, following Bulakh's proposition?

[2019-01-09 15:05] abausi commented on #1026
In this case we have even more evidence: the Greek rendering of this epithet on coins is "BISI" and this points to a possible pronunciation "bəʾsi" rather than "bəʾəsi". So, I would be in favour of "bəʾsi"

[2019-01-09 15:23] thea-m commented on #1026
Perfect, I've added it to this list (commit still to be reviewed, so not yet updated online):
http://betamasaheft.eu/Guidelines/?id=dubious-spelling

[2019-01-09 16:36] DariaElagina opened #1027 "double numerical id in persons"
Dear Pietro,
while the the app was down during the first dazs of the year, I created some new entries for persons PRS12408YamanaKrestos, PRS12409WaldaKrestos, PRS12410Yohannes. The pages don't work. Today I created another entry using the App, and the entry got an id PRS12408GabraD, which is identical in its numerical part with PRS12408YamanaKrestos. Is it a mistake of mine? Or is something wrong

[2019-01-10 09:29] thea-m opened #1028 "bibliography in places not visualized"
bibl elements in listBibl are not visualized on the app in place and institution records, for example INS0302SanStefano, LOC6554GondarineK or LOC5525Samidi.

[2019-01-10 09:33] thea-m commented on #1028
and the web XML file (how is it called?) of all (?) place records results in an error, for example http://betamasaheft.eu/tei/LOC1022Abbay.xml

[2019-01-10 09:49] thea-m opened #1029 "guidelines clarification"
the places guidelines have in the paragraph on new records in http://betamasaheft.eu/Guidelines/?id=places `"use external links to Wikidata IDs as follows...(same for <placeName>↗ and <region>↗)"`. Do you mean here the `<placeName>` element immediately a `<place>`  in place records (I don't think I've ever seen a wikidata reference in this case), or `<placeName>` elements in place or other records

[2019-01-10 10:08] thea-m opened #1030 "places guidelines example"
Could you give me an example for

(in http://betamasaheft.eu/Guidelines/?id=places under Administrative location)? I don't see what is meant exactly. Thank you!

[2019-01-10 10:19] thea-m opened #1031 "repository/institution"
can I change "institution" everywhere in the guidelines to "repository"? We keep using both terms, which might be confusing to people reading the guidelines for the first time.

[2019-01-10 10:27] thea-m opened #1032 "subtype="institution" in place records"
There are several place records which have a subtype="institution" in `<place>`, for example LOC7038SinaMikael or LOC5496SallaD. According to my understanding, these should be institution records, since they all seem to refer clearly to a church holding manuscripts. If there were reasons for keeping them in places, could you maybe clarify the guidelines?
http://betamasaheft.eu/Guidelines/?id=place

[2019-01-10 10:34] DenisNosnitsin1970 commented on #1031
I see no problem in this; is "repository" always meant with "repository" and "institution", and never just an "institution"?

[2019-01-10 10:39] thea-m commented on #1031
I think so, we had abandoned "institution"  for the sake of "repository" because it might also be used for abstract institutions such as the EOTC, but I don't believe that it is used in this meaning in the guidelines.

[2019-01-10 11:10] PietroLiuzzo commented on #1032
I think this is simply a mistake, probably due to an earlier stage of the write of the guidelines.

There is no reason to keep them in places, they shall be moved.

there are only 14
http://betamasaheft.eu/xpath?xpath=collection%28%27%2Fdb%2Fapps%2FBetMas%2Fdata%2Fplaces%27%29%2F%2Ft%3Aplace%5B%40subtype%3D%22institution%22%5D